<div id="cart" class="cart-wrapper count-wrapper circle-block">
    <a href="<?php echo $checkout; ?>" class="">
        <i class="icon-shopping-purse"></i>
        <span id="cart-total" class="count_item"><?php echo $text_items; ?></span>
    </a>
</div>
