@font-face {
    font-family: 'Circe';
    src: url("../fonts/circe/Circe-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'Circe';
    src: url("../fonts/circe/Circe-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Circe';
    src: url("../fonts/circe/Circe-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Circe';
    src: url("../fonts/circe/Circe-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Circe';
    src: url("../fonts/circe/Circe-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'sironaregular';
    src: url('../fonts/sirona/10755-webfont.eot');
    src: url('../fonts/sirona/10755-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sirona/10755-webfont.woff') format('woff'),
    url('../fonts/sirona/10755-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot?jqzduh');
    src:  url('../fonts/icomoon/icomoon.eot?jqzduh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?jqzduh') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?jqzduh') format('woff'),
    url('../fonts/icomoon/icomoon.svg?jqzduh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cancel:before {
    content: "\e919";
}
.icon-mail-black-envelope-symbol:before {
    content: "\e917";
}
.icon-phone-receiver:before {
    content: "\e918";
}
.icon-badge:before {
    content: "\e914";
}
.icon-credit-card:before {
    content: "\e915";
}
.icon-laptop:before {
    content: "\e916";
}
.icon-smartphone-call:before {
    content: "\e913";
}
.icon-guarantee:before {
    content: "\e910";
}
.icon-help:before {
    content: "\e911";
}
.icon-package-for-delivery:before {
    content: "\e912";
}
.icon-share:before {
    content: "\e90e";
}
.icon-left-chevron:before {
    content: "\e90c";
}
.icon-right-chevron:before {
    content: "\e90d";
}
.icon-mark-as-favorite-star:before {
    content: "\e90f";
}
.icon-user:before {
    content: "\e900";
}
.icon-shopping-purse:before {
    content: "\e901";
}
.icon-heart:before {
    content: "\e902";
}
.icon-search:before {
    content: "\e903";
}
.icon-phone-call:before {
    content: "\e904";
}
.icon-youtube:before {
    content: "\e905";
}
.icon-twitter:before {
    content: "\e906";
}
.icon-instagram:before {
    content: "\e907";
}
.icon-facebook:before {
    content: "\e908";
}
.icon-medal:before {
    content: "\e909";
}
.icon-thumb-up:before {
    content: "\e90a";
}
.icon-curtains:before {
    content: "\e90b";
}