@charset "UTF-8";
@import url("../stylesheet/fonts.css");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,600,700,800");
/* Color palette */
a {
  color: #333333;
  text-decoration: none; }
  a:hover {
    color: #333333; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus::-moz-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

input:focus:-ms-input-placeholder {
  color: transparent; }

h3 {
  font-family: "Circe";
  font-size: 16px;
  font-weight: bold;
  line-height: 1.44;
  text-align: left;
  color: #333333; }

h1, h2, h3 {
  margin: 0; }

menu {
  font-family: "Circe";
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  color: #ffffff; }

html,
body {
  height: 100%;
  font-family: "Circe"; }

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

* {
  outline: 0px !important;
  font-family: "Circe";
  box-sizing: border-box; }

*:focus,
*:active {
  outline: 0px !important;
  text-shadow: none;
  box-shadow: none !important; }

a:hover {
  text-decoration: none; }

a:focus {
  outline: 0px !important; }

a:focus,
a:hover,
a:active {
  text-decoration: none; }

#content {
  min-height: auto; }

.main-content {
  flex: 1 0 auto;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  margin-bottom: 90px; }

.btn-default {
  min-width: 260px;
  padding: 0 47px;
  height: 60px;
  border-radius: 30px;
  background: #e83c4d;
  border: 0;
  font-family: "Circe";
  font-size: 14px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  overflow: hidden; }
  .btn-default span {
    position: relative;
    z-index: 2; }
  .btn-default:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate(13%, 190%) rotate(-30deg);
    transform: translate(13%, 190%) rotate(-30deg);
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    -webkit-transition-delay: .3s;
    transition-delay: .3s; }
  .btn-default:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate(-13%, -190%) rotate(-30deg);
    transform: translate(-13%, -190%) rotate(-30deg);
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
  .btn-default:focus, .btn-default:active, .btn-default:hover {
    background-color: #e83c4d;
    color: #ffffff; }
    .btn-default:focus:before, .btn-default:focus:after, .btn-default:active:before, .btn-default:active:after, .btn-default:hover:before, .btn-default:hover:after {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: transparent; }

header {
  padding: 20px 0; }

.logo {
  width: 155px;
  height: 50px;
  object-fit: contain; }

.circle-block {
  width: 44px;
  height: 44px;
  border: solid 1px #e6e6e6;
  border-radius: 50%;
  margin: 0 7.5px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 11; }
  .circle-block:last-child {
    margin-right: 0; }
  .circle-block a {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center; }
    .circle-block a:focus, .circle-block a:active, .circle-block a:hover {
      color: #333333 !important; }
    .circle-block a .count_item {
      position: absolute;
      top: 0;
      right: 0;
      background-color: #e83c4d;
      width: 15px;
      height: 15px;
      font-size: 10px;
      color: #ffffff;
      border-radius: 50%;
      text-align: center;
      line-height: 17px; }

.search_container {
  position: relative; }
  .search_container .search_block_content {
    position: absolute;
    top: 5px;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0;
    z-index: -1; }
    .search_container .search_block_content input {
      padding: 0px 50px 0px 10px;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: solid 1px #000000;
      background-color: #ffffff;
      min-width: 230px;
      font-size: 14px;
      height: 30px;
      min-height: 30px;
      line-height: 30px; }
      .search_container .search_block_content input:focus {
        box-shadow: none; }
  .search_container.open .search_block_content {
    opacity: 1;
    z-index: 10; }
  .search_container.open .circle-block {
    border: 0; }

#search .search_block_content {
  position: absolute;
  top: 0;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 0;
  z-index: -1; }
  #search .search_block_content input {
    padding: 0 55px 0 22px;
    min-width: 100%;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #b3b3b3;
    height: 44px;
    border-radius: 22px;
    background-color: #ffffff;
    border: solid 1px #e6e6e6;
    line-height: 44px;
    box-shadow: none; }
#search .icon-search {
  font-size: 25px; }
#search .button-ok {
  display: none; }

#search.open .search_block_content {
  opacity: 1;
  z-index: 10; }

#button-search {
  margin-bottom: 40px; }

.flex-row {
  display: flex;
  align-items: center;
  flex-direction: row; }
  .flex-row.text-right {
    justify-content: flex-end; }
  .flex-row__pos {
    justify-content: space-between; }

.navbar {
  min-height: auto;
  margin-bottom: 0;
  border: 0; }
  .navbar .navbar-nav li {
    margin: 0 15px; }
    .navbar .navbar-nav li a {
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2px;
      color: #333333;
      text-transform: uppercase;
      padding: 0;
      transition: .5s; }
      .navbar .navbar-nav li a:hover {
        background-color: transparent;
        color: #999999;
        cursor: pointer; }
    .navbar .navbar-nav li.pinck-color a {
      color: #e83c4d; }

.slide_wrapper_big {
  margin: 0px !important; }
  .slide_wrapper_big .item {
    position: relative; }
  .slide_wrapper_big .wrapper-banner-info {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%); }
    .slide_wrapper_big .wrapper-banner-info h2 {
      font-size: 40px;
      font-weight: 800;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 5px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 15px;
      text-transform: uppercase; }
    .slide_wrapper_big .wrapper-banner-info p {
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      padding: 0 100px;
      margin-bottom: 60px; }

.btn-slider {
  max-width: 260px;
  padding: 0 25px;
  display: block;
  height: 60px;
  border-radius: 30px;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 60px;
  letter-spacing: 2px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  margin: 0 auto; }
  .btn-slider:hover {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff; }

.slider {
  margin-bottom: 0 !important; }

.slick-dots {
  position: absolute;
  bottom: 30px; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 2px;
    margin: 0 10px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 2px;
      padding: 0px;
      cursor: pointer;
      border: 0;
      outline: none;
      background-color: #cccccc;
      opacity: 1; }
      .slick-dots li button:before {
        content: '';
        display: none; }
    .slick-dots li.slick-active button {
      opacity: 1;
      background-color: #333333; }

.html-module {
  background-color: #eef0f2;
  padding: 90px 0; }
  .html-module__notborder {
    padding: 0; }
  .html-module .col-md-4:nth-child(2) .item-advantages {
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6; }
  .html-module .item-advantages {
    padding: 30px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #999999; }
    .html-module .item-advantages i {
      margin-bottom: 12px;
      font-size: 44px; }
    .html-module .item-advantages p {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: 2px;
      text-align: center;
      margin-bottom: 0;
      padding: 0 60px; }

h3 {
  font-family: 'sironaregular';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 5px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 60px;
  position: relative; }
  h3:before {
    content: '';
    width: 10px;
    height: 6px;
    background-image: url("../image/red.svg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto; }

.module-product {
  padding: 69px 0 66px;
  border-bottom: solid 1px #e6e6e6; }
  .module-product__nonborder {
    border-bottom: 0;
    margin-bottom: 0; }
  .module-product .slider .slick-list {
    padding-bottom: 60px; }
  .module-product .slick-dots {
    bottom: 0; }

.product-thumb {
  margin-bottom: 45px; }
  .product-thumb .image {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden; }
    .product-thumb .image .button-group {
      display: flex;
      align-items: center;
      max-height: 0;
      position: absolute;
      bottom: -100%;
      width: 100%;
      -webkit-transition: .8s ease-in-out;
      -moz-transition: .8s ease-in-out;
      -o-transition: .8s ease-in-out;
      transition: .8s ease-in-out; }
      .product-thumb .image .button-group button {
        height: 52px;
        background-color: #f6f7f8;
        flex: 1;
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 2px;
        color: #999999;
        text-transform: uppercase;
        border: 0;
        transition: .5s; }
        .product-thumb .image .button-group button i {
          transition: .5s;
          color: #cccccc;
          font-size: 20px; }
        .product-thumb .image .button-group button:first-child {
          flex: 3; }
        .product-thumb .image .button-group button.mini-btn {
          border-left: 1px solid #e6e6e6;
          border-right: 1px solid #e6e6e6; }
          .product-thumb .image .button-group button.mini-btn.active {
            color: #e83c4d; }
            .product-thumb .image .button-group button.mini-btn.active i {
              color: #e83c4d; }
        .product-thumb .image .button-group button:hover {
          color: #333333; }
          .product-thumb .image .button-group button:hover i {
            color: #333333; }
    .product-thumb .image:hover .button-group {
      max-height: 100%;
      bottom: 0;
      -webkit-transition: .6s ease-in-out;
      -moz-transition: .6s ease-in-out;
      -o-transition: .6s ease-in-out;
      transition: .6s ease-in-out; }
    .product-thumb .image img {
      width: 100%; }
  .product-thumb .caption a {
    display: block;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .product-thumb .caption .price {
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    text-transform: uppercase; }
    .product-thumb .caption .price .price-old {
      margin-left: 15px;
      color: #999999;
      font-size: 16px;
      text-decoration: line-through; }

.about-container p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #999999;
  margin-bottom: 60px;
  padding: 0 100px; }
.about-container a {
  display: block;
  max-width: 260px;
  margin: 0 auto; }

.footer-title {
  font-family: "Circe";
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 2px;
  color: #333333;
  text-align: left;
  margin-bottom: 30px; }
  .footer-title:before {
    content: '';
    display: none; }

footer {
  padding: 60px 0;
  border-top: solid 1px #e6e6e6; }
  footer .list-unstyled li {
    margin-bottom: 15px; }
    footer .list-unstyled li a {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #999999;
      transition: .5s; }
      footer .list-unstyled li a:hover {
        color: #333333; }
  footer .social {
    padding: 0;
    margin: 28px 0 0 0; }
    footer .social li {
      float: left;
      list-style: none;
      margin-right: 15px; }
      footer .social li:last-child {
        margin-right: 0; }
      footer .social li a {
        color: #999999;
        transition: .5s;
        font-size: 24px; }
        footer .social li a:hover {
          color: #333333; }

.newsletter-form p {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #999999;
  margin-bottom: 30px; }
.newsletter-form input {
  width: 100%;
  height: 44px;
  border-radius: 0;
  background-color: #ffffff;
  border: solid 1px #e6e6e6;
  box-shadow: none;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #999999;
  padding-right: 54px; }
  .newsletter-form input:focus {
    border: solid 1px #333333; }

#lt_newsletter_form .form-group {
  position: relative; }
#lt_newsletter_form .btn-newsletter {
  display: block;
  width: 40px;
  height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 10px;
  color: #333333;
  border: 0;
  background: transparent;
  line-height: 44px; }

.copiright {
  background-color: #f6f7f8;
  padding: 17px 0; }
  .copiright .copiright-text {
    display: flex;
    align-items: center;
    justify-content: left; }
    .copiright .copiright-text p {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: normal;
      color: #999999;
      padding-right: 15px;
      margin-bottom: 0;
      border-right: 1px solid #999999; }
    .copiright .copiright-text a {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: normal;
      color: #999999;
      padding-left: 15px; }
      .copiright .copiright-text a:hover {
        color: #333333; }

.callback {
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 0;
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 99;
  cursor: pointer;
  color: #e83c4d;
  padding: 0; }
  .callback:focus {
    background-color: #e83c4d;
    color: #fff;
    border-color: #e83c4d;
    background-image: none; }
  .callback:hover {
    background-color: #e83c4d;
    color: #fff; }
  .callback .btn-callphone {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
    z-index: 99;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .callback .btn-callphone:focus, .callback .btn-callphone:active, .callback .btn-callphone:hover {
      color: #fff; }
  .callback .callback_block {
    height: 45px;
    position: absolute;
    width: 45px; }
    .callback .callback_block .callback_a {
      -webkit-animation: callback 3s linear 0s infinite;
      -moz-animation: callback 3s linear 0s infinite;
      animation: callback 3s linear 0s infinite;
      background-color: transparent;
      border: 2px solid #e83c4d;
      border-radius: 100% !important;
      bottom: 18px;
      box-sizing: border-box;
      height: 100px;
      opacity: 0.01;
      position: absolute;
      right: -28px;
      width: 100px;
      z-index: 1; }
    .callback .callback_block .callback_b {
      -webkit-animation: callback 1.5s linear 0s infinite;
      -moz-animation: callback 1.5s linear 0s infinite;
      animation: callback 1.5s linear 0s infinite;
      background-color: transparent;
      border: 2px solid #e83c4d;
      border-radius: 100% !important;
      bottom: 18px;
      box-sizing: border-box;
      height: 100px;
      opacity: 0.01;
      position: absolute;
      right: -28px;
      width: 100px;
      z-index: 1; }

.callback:hover {
  animation: 1.5s linear 0s normal none infinite running callback_anim; }

.products_row-btn {
  position: absolute;
  top: calc(50% - 90px);
  transform: translate(0, -50%);
  display: block;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #333333;
  border: 0;
  text-align: center;
  line-height: 60px;
  padding: 0; }
  .products_row-btn.products_row-prev_btn {
    left: -15px;
    z-index: 1; }
    .products_row-btn.products_row-prev_btn i {
      padding-left: 9px; }
  .products_row-btn.products_row-next_btn {
    right: -15px;
    z-index: 1; }
    .products_row-btn.products_row-next_btn i {
      padding-right: 9px; }

.multi-collapse {
  padding: 30px 0; }

.menu-container_colapss {
  border-top: 1px solid #e6e6e6; }

.child__container {
  position: relative; }
  .child__container a {
    position: relative;
    z-index: 3;
    display: block;
    overflow: hidden; }
    .child__container a img {
      width: 100%; }
  .child__container__link {
    background-color: #f6f7f8;
    padding: 35px 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: #333333; }
.child__name {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 2px;
  z-index: 3;
  color: #ffffff;
  text-transform: uppercase; }

.breadcrumb {
  margin: 0;
  background-color: transparent;
  padding: 0; }
  .breadcrumb__container {
    padding: 15px 0;
    background-color: #eef0f2;
    margin-bottom: 90px; }
  .breadcrumb > li {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #333333; }
    .breadcrumb > li + li:before {
      padding: 0;
      color: #ccc;
      content: "•";
      font-size: 30px;
      line-height: 12px;
      display: block;
      width: 10px;
      margin: 0 5px;
      float: left; }
    .breadcrumb > li a {
      color: #999999; }

.category-page_items {
  position: relative;
  text-align: right; }
  .category-page_items:before {
    content: '';
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #f5f6f7);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0; }
  .category-page_items .category-info {
    position: absolute;
    top: 60px;
    left: 60px;
    text-align: left;
    width: 45%; }
    .category-page_items .category-info .name {
      font-family: 'sironaregular';
      font-size: 30px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 5px;
      color: #333333;
      margin-bottom: 30px;
      text-transform: uppercase; }
    .category-page_items .category-info .category-description-mini {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: #999999;
      padding-bottom: 98px; }
    .category-page_items .category-info a {
      width: 240px;
      height: 60px;
      line-height: 60px;
      border-radius: 30px;
      background-color: #ffffff;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
      color: #333333;
      display: block; }
      .category-page_items .category-info a:hover {
        background-color: #e83c4d;
        color: #ffffff; }
  .category-page_items img {
    max-width: 100%; }

.container-for-marg {
  margin-bottom: 30px; }
  .container-for-marg:last-child {
    margin-bottom: 0; }

h1, .title_h1 {
  font-family: 'sironaregular';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 5px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 60px;
  position: relative; }
  h1:before, .title_h1:before {
    content: '';
    width: 10px;
    height: 6px;
    background-image: url("../image/red.svg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto; }

.sort-select {
  margin-bottom: 30px; }
  .sort-select .text-sort {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #1a1a1a;
    margin-right: 15px;
    margin-bottom: 0; }
  .sort-select .wrapp_links .sort_item {
    display: block;
    margin-right: 16px; }
    .sort-select .wrapp_links .sort_item a {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #999999; }
    .sort-select .wrapp_links .sort_item.is_active a {
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #1a1a1a; }

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  background-color: #f6f7f8;
  padding: 24px;
  position: relative; }
  .pagination > li {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: #333333 !important;
    line-height: 30px;
    padding-left: 0; }
    .pagination > li:before {
      display: none; }
    .pagination > li a {
      border: 0;
      padding: 0;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      color: #999999;
      display: block;
      width: 100%;
      height: 100%;
      line-height: 30px;
      text-align: center;
      background-color: transparent; }
      .pagination > li a:hover {
        color: #333333 !important;
        border-radius: 0;
        background-color: transparent; }
    .pagination > li.prev {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 2;
      width: auto;
      padding-left: 15px;
      color: #999999;
      text-transform: uppercase;
      background-color: transparent;
      letter-spacing: 2px; }
      .pagination > li.prev a {
        letter-spacing: 2px;
        color: #999999;
        line-height: 30px; }
      .pagination > li.prev span {
        font-size: 10px;
        padding-right: 10px;
        position: relative;
        top: -2px; }
    .pagination > li.last {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 2;
      width: auto;
      padding-right: 15px;
      color: #999999;
      text-transform: uppercase;
      background-color: transparent;
      letter-spacing: 2px; }
      .pagination > li.last span {
        font-size: 10px;
        padding-left: 10px;
        position: relative;
        top: -2px; }
      .pagination > li.last a {
        letter-spacing: 2px;
        color: #999999;
        line-height: 30px; }
    .pagination > li.active span {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 0;
      background-color: transparent;
      border: 0;
      color: #333333;
      padding: 0;
      line-height: 30px;
      text-align: center; }
      .pagination > li.active span:hover {
        border-radius: 0;
        background-color: transparent;
        color: #333333; }

.thumbnails-mini .item img {
  width: 100%; }

.slick-vertical .slick-slide {
  margin-bottom: 15px; }

.thumbnails-pop img {
  width: 100%; }

.product-info-container h1 {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 5px;
  color: #333333;
  text-align: left;
  margin-bottom: 26px; }
  .product-info-container h1:before {
    display: none; }
.product-info-container .rating {
  margin-bottom: 60px; }
  .product-info-container .rating .fa-stack .fa-star {
    font-size: 20px;
    color: #cccccc; }
.product-info-container .minidescription {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #999999;
  margin-bottom: 76px; }
.product-info-container .price-list .price {
  font-size: 24px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #333333; }
.product-info-container .price-list .price-old {
  margin-left: 15px;
  color: #999999;
  font-size: 16px;
  text-decoration: line-through; }

.container-price {
  margin-bottom: 30px; }

.btn-by {
  padding: 0 60px;
  background-color: #f6f7f8;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 2px;
  text-align: center;
  color: #999999;
  text-transform: uppercase;
  margin-right: 15px;
  height: 60px;
  line-height: 60px;
  border-radius: 0;
  min-width: 260px; }
  .btn-by:focus, .btn-by:active, .btn-by:hover {
    background-color: #e83c4d;
    color: #ffffff; }
  .btn-by__pink {
    background-color: #e83c4d;
    color: #ffffff;
    margin-right: 0; }
    .btn-by__pink i {
      margin-right: 15px;
      font-size: 22px; }
    .btn-by__pink:focus, .btn-by__pink:active, .btn-by__pink:hover {
      background-color: #333333;
      color: #ffffff; }

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
  background-color: #e83c4d;
  color: #ffffff; }

.wrapper-margin .btn-by {
  margin-right: 0;
  border-radius: 0;
  margin-top: 60px;
  min-width: 260px; }
.wrapper-margin .row {
  margin-right: -7.5px;
  margin-bottom: -7.5px; }

.btn-link {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 2px;
  color: #999999;
  text-transform: uppercase;
  text-decoration: none;
  border: 0; }
  .btn-link:focus, .btn-link:active, .btn-link:hover {
    color: #e83c4d;
    text-decoration: none; }

.share_wrapp {
  overflow: hidden;
  position: relative;
  height: 38px; }
  .share_wrapp.active .icon_wrapp {
    transform: translateX(0); }

.icon_wrapp {
  border-radius: 17.5px;
  background-color: #f6f7f8;
  padding: 5px 15px;
  position: absolute;
  top: 0;
  width: 100%;
  transform: translateX(-102%);
  transition: transform 0.8s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .icon_wrapp .share_item {
    margin-right: 15px; }
    .icon_wrapp .share_item:last-child {
      margin-right: 0; }
    .icon_wrapp .share_item a {
      font-size: 22px;
      line-height: 24px;
      color: #999999; }
      .icon_wrapp .share_item a i {
        line-height: 24px; }

.text-share {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 2px;
  color: #999999;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  padding: 0px 3px; }
  .text-share p {
    margin-bottom: 0;
    margin-right: 15px; }
  .text-share:hover {
    color: #e83c4d; }

.rewiew_wrapp {
  padding-bottom: 60px; }

.nav-tabs {
  border-bottom: solid 1px #e6e6e6;
  margin-bottom: 30px; }
  .nav-tabs > li {
    float: left;
    padding-right: 30px;
    padding-left: 0; }
    .nav-tabs > li:before {
      display: none; }
    .nav-tabs > li > a {
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2px;
      color: #999999;
      transition: .3s;
      border: 0;
      padding: 0 0 30px;
      text-transform: uppercase; }
      .nav-tabs > li > a:active, .nav-tabs > li > a:focus, .nav-tabs > li > a:hover {
        background-color: transparent;
        border-bottom: 1px solid #333333;
        color: #333333; }
    .nav-tabs > li.active > a {
      border: 0;
      border-bottom: 1px solid #333333;
      color: #333333;
      background-color: transparent; }
      .nav-tabs > li.active > a:active, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        border: 0;
        border-bottom: 1px solid #333333;
        color: #333333;
        background-color: transparent; }

.tab-pane p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #999999;
  margin-bottom: 30px; }
  .tab-pane p b {
    color: #333333;
    font-weight: 600; }

.white-style-form {
  border-radius: 0px;
  overflow: hidden; }
  .white-style-form .c-reviewStars-input {
    width: 100%; }
  .white-style-form h2 {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: #333333;
    margin-top: 15px;
    margin-bottom: 60px;
    text-transform: uppercase; }
  .white-style-form .btn-default:hover {
    background-color: #333333;
    color: #ffffff; }

input.form-control {
  height: 60px;
  border: solid 1px #e6e6e6;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #999999;
  padding: 6px 20px; }
  input.form-control:focus, input.form-control:hover, input.form-control:active {
    border: solid 1px #333333; }

textarea.form-control {
  padding: 23px 20px;
  height: 160px;
  border: solid 1px #e6e6e6;
  resize: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #999999; }
  textarea.form-control:focus, textarea.form-control:hover, textarea.form-control:active {
    border: solid 1px #333333; }

.form-horizontal .form-group {
  margin-right: -7.5px;
  margin-left: -7.5px; }

.privacy_policy {
  text-align: center;
  margin-bottom: 60px; }
  .privacy_policy a {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #999999; }

.form-checkbox input[type="radio"],
.form-checkbox input[type="checkbox"] {
  position: absolute;
  visibility: hidden; }

.form-checkbox input[type="radio"]:checked + .form-checkbox__marker,
.form-checkbox input[type="checkbox"]:checked + .form-checkbox__marker {
  border-color: #ebecf0; }

.form-checkbox input[type="radio"]:checked ~ .form-checkbox__label,
.form-checkbox input[type="checkbox"]:checked ~ .form-checkbox__label {
  color: #999999; }

.form-checkbox input[type="radio"]:checked ~ .form-checkbox__label .mfilter-counter,
.form-checkbox input[type="checkbox"]:checked ~ .form-checkbox__label .mfilter-col-count {
  color: #999999; }

.form-checkbox input[type="radio"]:checked + .form-checkbox__marker::after,
.form-checkbox input[type="checkbox"]:checked + .form-checkbox__marker::after {
  opacity: 1; }

.iScrollIndicator {
  background: coral !important; }

.form-checkbox__marker {
  width: 20px;
  height: 20px;
  border-radius: 0;
  background-color: #fff;
  border: solid 1px #e6e6e6;
  position: relative;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: background-color linear 0.3s;
  transition: background-color linear 0.3s;
  vertical-align: middle;
  float: left; }

.form-checkbox__marker:after {
  position: absolute;
  content: '';
  left: 15%;
  top: 18%;
  height: 40%;
  width: 60%;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #333333;
  -webkit-transform: rotate(-45deg);
  opacity: 0; }

.form-checkbox__label span,
.form-checkbox__label {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #999999; }

.c-reviewStars-input {
  width: 350px;
  height: 60px;
  background: #fff;
  padding: 15px;
  border-radius: 0;
  border: solid 1px #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .c-reviewStars-input .c-rating {
    float: left;
    color: #999999;
    margin-bottom: 0;
    font-size: 14px; }
  .c-reviewStars-input .reviewStars-input {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start; }
    .c-reviewStars-input .reviewStars-input .c-rating {
      float: left;
      color: #999999; }
    .c-reviewStars-input .reviewStars-input input {
      display: none;
      margin-right: 10px; }
      .c-reviewStars-input .reviewStars-input input:checked ~ label .icon-mark-as-favorite-star:before, .c-reviewStars-input .reviewStars-input input:checked + label .icon-mark-as-favorite-star:before {
        color: #333333; }
      .c-reviewStars-input .reviewStars-input input:hover + label .icon-mark-as-favorite-star:before {
        color: #333333; }
      .c-reviewStars-input .reviewStars-input input:hover ~ label .icon-mark-as-favorite-star:before {
        color: #333333; }
    .c-reviewStars-input .reviewStars-input label {
      position: relative;
      font-size: 18px;
      color: #999999;
      padding: 0;
      cursor: pointer;
      margin: 0 2.5px; }
      .c-reviewStars-input .reviewStars-input label i {
        color: #999999; }

.review_item {
  border-radius: 0;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
  padding: 30px;
  margin-bottom: 15px; }
  .review_item .head {
    justify-content: space-between;
    margin-bottom: 30px; }
    .review_item .head .name {
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: normal;
      color: #1a1a1a;
      margin-right: 30px; }
    .review_item .head .name-prod {
      margin-right: 30px; }
      .review_item .head .name-prod a {
        font-size: 16px;
        line-height: 1;
        color: #ff7f50;
        font-weight: 600; }
    .review_item .head .testimonial-time {
      font-size: 16px;
      color: #9fa4b4; }
      .review_item .head .testimonial-time i {
        margin-right: 5PX; }
    .review_item .head .rating i {
      font-size: 18px; }
  .review_item .text {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #1a1a1a;
    font-style: italic; }
    .review_item .text p:last-child {
      margin-bottom: 0; }

.fa-stack {
  width: 18px;
  height: 18px;
  margin: 0 5px;
  line-height: initial; }

.rating {
  display: flex;
  align-items: center; }
  .rating a {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #999999; }
    .rating a span {
      color: #333333; }
  .rating .fa {
    font-size: 18px;
    color: #999999; }
    .rating .fa.active {
      color: #333333; }
      .rating .fa.active i {
        color: #333333; }
  .rating .rating-label {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #999999;
    padding-top: 2px;
    padding-left: 15px; }
    .rating .rating-label .black-label {
      color: #333333; }

.container-prod_first {
  margin-bottom: 90px; }

.product-page .container-prod_first {
  margin-bottom: 0; }
.product-page .breadcrumb__container {
  margin-bottom: 60px; }

.container-prod_second {
  margin-top: 60px; }

.wrapper-related {
  border-top: 1px solid #e6e6e6;
  padding: 90px 0;
  margin-top: 30px; }
  .wrapper-related h3 {
    font-family: "Circe";
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: #333333;
    text-transform: uppercase; }
    .wrapper-related h3:before {
      display: none; }
  .wrapper-related .slick-dots {
    bottom: 0; }

.contact-info_big {
  padding: 60px 60px;
  background-color: #f5f6f7;
  text-align: center;
  margin-bottom: 30px; }
  .contact-info_big p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: #999999;
    margin-bottom: 15px; }
  .contact-info_big a {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    text-align: center;
    color: #333333;
    letter-spacing: 2px; }
    .contact-info_big a span {
      display: inline-block;
      padding-right: 15px; }
    .contact-info_big a:last-child {
      padding-left: 20px; }

.block-information-contact {
  margin-bottom: 60px; }

.c-center {
  margin-top: 60px; }
  .c-center .btn-default {
    margin: 0 auto;
    display: block; }

.newsletter_form-input input.form-control {
  height: 44px; }

.c-form-style {
  margin: 0 -7.5px; }

.erorrs-wrapper {
  background: url("/catalog/view/theme/default/image/slider.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 65vh;
  position: relative; }
  .erorrs-wrapper .container {
    position: relative;
    height: 100%; }
  .erorrs-wrapper .erorrs-text {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%; }
    .erorrs-wrapper .erorrs-text p {
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      margin-bottom: 84px; }
    .erorrs-wrapper .erorrs-text img {
      margin-bottom: 15px; }

.error-not_found .main-content {
  margin-bottom: 0;
  min-height: auto; }
.error-not_found footer {
  margin-top: 0px; }

.account_left_bar {
  padding: 60px 0;
  background-color: #f5f6f7; }
  .account_left_bar li a {
    text-align: center; }

.item-order {
  margin-bottom: 30px; }
  .item-order p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #333333; }
  .item-order .order-table {
    border: solid 1px #e6e6e6; }
    .item-order .order-table .header-table {
      background-color: #f5f6f7;
      justify-content: space-between; }
      .item-order .order-table .header-table div {
        padding: 15px;
        border-right: 1px solid #e6e6e6;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #999999;
        flex: 1; }
        .item-order .order-table .header-table div:first-child {
          flex: 2; }
        .item-order .order-table .header-table div:last-child {
          border: 0; }
    .item-order .order-table .content-table .flex-table {
      display: flex;
      flex-direction: column;
      flex: 4.7; }
    .item-order .order-table .content-table .table-row div {
      flex: 1;
      border-right: 1px solid #e6e6e6;
      padding: 26px 15px;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2px;
      text-align: center;
      color: #333333;
      border-bottom: 1px solid #e6e6e6;
      text-transform: uppercase;
      max-height: 67px; }
      .item-order .order-table .content-table .table-row div:first-child {
        flex: 2; }
    .item-order .order-table .content-table .table-row .price-table {
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #333333; }
    .item-order .order-table .content-table .table-row.sum-row div {
      border-bottom: 0; }
      .item-order .order-table .content-table .table-row.sum-row div:first-child {
        flex: 3;
        border-right: 0;
        text-align: left;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #999999;
        text-transform: none; }
      .item-order .order-table .content-table .table-row.sum-row div:last-child {
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: right;
        color: #333333; }
    .item-order .order-table .content-table .table-row .qty_block {
      padding: 13px 15px;
      max-height: initial; }
      .item-order .order-table .content-table .table-row .qty_block div {
        padding: 0;
        max-height: initial;
        border: 0; }
    .item-order .order-table .content-table .table-row .wrapp_inputs {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100px;
      height: 40px;
      background-color: #ffffff;
      border: solid 1px #e6e6e6 !important;
      margin: 0 auto; }
      .item-order .order-table .content-table .table-row .wrapp_inputs .button {
        flex: 1;
        font-size: 10px;
        line-height: 40px; }
        .item-order .order-table .content-table .table-row .wrapp_inputs .button i {
          line-height: 40px; }
      .item-order .order-table .content-table .table-row .wrapp_inputs input {
        flex: 2;
        border: 0;
        box-shadow: none;
        text-align: center;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #333333;
        padding: 0; }
    .item-order .order-table .content-table .payment-table {
      width: 161px;
      flex: 1;
      padding: 15px; }
      .item-order .order-table .content-table .payment-table .payment-info {
        text-align: center; }
        .item-order .order-table .content-table .payment-table .payment-info img {
          margin-bottom: 15px; }
        .item-order .order-table .content-table .payment-table .payment-info p {
          font-size: 14px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: 2px;
          text-align: center;
          color: #999999;
          text-transform: uppercase; }
        .item-order .order-table .content-table .payment-table .payment-info .btn-by__pink {
          border-radius: 0;
          height: 50px;
          line-height: 50px;
          margin: 0;
          width: 100%;
          padding: 0 15px;
          min-width: auto; }

.edit_firstname {
  width: 100% !important; }

.common-home .main-content {
  margin-bottom: 0; }

.alert-success {
  position: absolute;
  background-color: #ffffff;
  border: solid 1px #e6e6e6;
  padding: 30px;
  top: 50%;
  transform: translate(0, -50%);
  display: block;
  margin: 0 auto;
  width: 500px;
  max-width: 100%;
  z-index: 9;
  box-shadow: none;
  left: 0;
  right: 0;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #999999; }
  .alert-success .images-alert {
    margin-bottom: 20px; }
    .alert-success .images-alert img {
      display: block;
      margin: 0 auto; }
  .alert-success .close {
    position: absolute;
    top: 5px;
    right: 15px;
    opacity: 1 !important;
    color: #333333;
    width: 25px;
    height: 25px; }
    .alert-success .close:before {
      content: '\e919';
      font-family: icomoon;
      position: absolute;
      left: 50%;
      top: 50%;
      font-size: 15px; }

.simplecheckout-left-column {
  border: solid 1px #e6e6e6;
  border-radius: 0px;
  background-color: #fff;
  padding: 30px; }
  .simplecheckout-left-column .block-title {
    border-bottom: 0;
    margin-bottom: 30px;
    position: relative;
    background-color: #f5f6f7;
    margin-top: -30px;
    padding: 30px; }
    .simplecheckout-left-column .block-title:before {
      content: '';
      position: absolute;
      left: -30px;
      bottom: -1px;
      width: 35px;
      height: 100%;
      background-color: #f5f6f7; }
    .simplecheckout-left-column .block-title:after {
      content: '';
      position: absolute;
      right: -30px;
      bottom: -1px;
      width: 35px;
      height: 100%;
      background-color: #f5f6f7; }
  .simplecheckout-left-column h2 {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: #999999;
    text-transform: uppercase; }
  .simplecheckout-left-column .panel-heading {
    padding: 0;
    margin-bottom: 30px; }

.checkout-heading {
  border: 0;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 2px;
  text-align: center;
  color: #1a1a1a;
  text-transform: uppercase; }

.simplecheckout-block-content .select2-container--default .select2-selection--single {
  background-color: #fff; }
.simplecheckout-block-content .select2-container .select2-selection--single {
  height: 60px; }
.simplecheckout-block-content .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 60px; }
.simplecheckout-block-content .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 60px;
  line-height: 60px; }

.simplecheckout-cart-total {
  border: 0 !important;
  padding: 27px 0 0 !important; }
  .simplecheckout-cart-total span:first-child {
    float: left;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #999999; }
  .simplecheckout-cart-total .simplecheckout-cart-total-value {
    float: right;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: right;
    color: #333333; }
  .simplecheckout-cart-total .btn-pink_by {
    width: 220px;
    margin: 0 auto; }

.right-column .checkout_cart_wrapp {
  border: solid 1px #e6e6e6;
  border-radius: 0px;
  background-color: #fff;
  padding: 30px 15px; }
.right-column .block-title {
  border-bottom: 0;
  margin-bottom: 0;
  position: relative;
  background-color: #f5f6f7;
  margin-top: -30px;
  padding: 30px 15px; }
  .right-column .block-title:before {
    content: '';
    position: absolute;
    left: -15px;
    bottom: -1px;
    width: 15px;
    height: 100%;
    background-color: #f5f6f7; }
  .right-column .block-title:after {
    content: '';
    position: absolute;
    right: -15px;
    bottom: -1px;
    width: 15px;
    height: 100%;
    background-color: #f5f6f7; }
.right-column h2 {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 2px;
  text-align: center;
  color: #999999;
  text-transform: uppercase; }
.right-column .btn-default.orang:hover {
  background-color: #404969;
  color: #fff; }

.simple_cart {
  margin: 0 -15px; }
  .simple_cart .simple_item {
    border-bottom: solid 1px #e8e7ed;
    display: flex;
    align-items: flex-start;
    padding: 15px;
    position: relative; }
    .simple_cart .simple_item .quantity,
    .simple_cart .simple_item .pqt {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .simple_cart .simple_item .quantity .price,
      .simple_cart .simple_item .pqt .price {
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #333333; }
    .simple_cart .simple_item .quantity {
      border-radius: 0;
      background-color: #fff;
      width: 100px;
      height: 40px;
      border: solid 1px #e6e6e6; }
      .simple_cart .simple_item .quantity input {
        background-color: #fff;
        border: 0;
        padding: 0;
        height: 100%;
        flex: 1;
        text-align: center;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #333333; }
      .simple_cart .simple_item .quantity button {
        height: 100%;
        background-color: #fff;
        padding: 0;
        border: 0;
        flex: 1;
        font-size: 16px; }
      .simple_cart .simple_item .quantity .btn-plus i {
        color: #333333;
        transform: rotate(90deg); }
      .simple_cart .simple_item .quantity .btn-minus i {
        transform: rotate(90deg); }
    .simple_cart .simple_item .wrapp_cart_right {
      width: 100%;
      padding-left: 30px; }
      .simple_cart .simple_item .wrapp_cart_right .options {
        margin-bottom: 30px; }
      .simple_cart .simple_item .wrapp_cart_right .name {
        margin-bottom: 15px; }
        .simple_cart .simple_item .wrapp_cart_right .name a {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: 2px;
          color: #333333;
          text-transform: uppercase; }
    .simple_cart .simple_item .remove_btn {
      width: 25px;
      height: 25px;
      background-color: #fff;
      border-radius: 0;
      border: 0;
      padding: 0;
      position: absolute;
      top: 15px;
      right: 7px;
      font-size: 10px;
      color: #333333; }

.simple_cart_bottom .simplecheckout-cart-total:first-child {
  display: none; }

.btn-simple {
  display: flex;
  align-items: center; }

.simplecheckout-button-block {
  padding: 0; }

.plash {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 50%;
  top: 15px;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  line-height: 60px;
  left: 15px; }
  .plash.top-sales {
    color: #e83c4d !important; }

@keyframes callback {
  0% {
    opacity: 0.8;
    transform: rotate(0deg) scale(0.46) skew(1deg); }
  10% {
    transform: rotate(0deg) scale(0.56) skew(1deg); }
  100% {
    opacity: 0.01;
    transform: rotate(0deg) scale(1) skew(1deg); } }
@-webkit-keyframes callback {
  0% {
    opacity: 0.8;
    transform: rotate(0deg) scale(0.46) skew(1deg); }
  10% {
    transform: rotate(0deg) scale(0.56) skew(1deg); }
  100% {
    opacity: 0.01;
    transform: rotate(0deg) scale(1) skew(1deg); } }
@-moz-keyframes callback {
  0% {
    opacity: 0.8;
    transform: rotate(0deg) scale(0.46) skew(1deg); }
  10% {
    transform: rotate(0deg) scale(0.56) skew(1deg); }
  100% {
    opacity: 0.01;
    transform: rotate(0deg) scale(1) skew(1deg); } }
@keyframes callback_anim {
  0% {
    transform: scale3d(1, 1, 1); }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg); }
  100% {
    transform: scale3d(1, 1, 1); } }
@keyframes callback_anim {
  0% {
    transform: scale3d(1, 1, 1); }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg); }
  100% {
    transform: scale3d(1, 1, 1); } }

/*# sourceMappingURL=main.css.map */
