@import url("../stylesheet/fonts.css");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,600,700,800");

$main_font : 'Circe';
/* Color palette */

$lipstick: #e83c4d;
$black: #333333;
$warm-grey: #999999;
$white: #ffffff;
$pinkish-grey: #cccccc;
$pale-grey: #f6f7f8;
$pale-grey-two: #f5f6f7;
$pale-grey-three: #eef0f2;




a {
  color: $black;
  text-decoration: none;
  &:hover{
    color: $black;
  }
}

input:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder          {color: transparent}
input:focus:-moz-placeholder           {color: transparent}
input:focus:-ms-input-placeholder      {color: transparent}


h3 {
  font-family: $main_font;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.44;
  text-align: left;
  color: #333333;
}
h1,h2,h3{
  margin: 0;
}
menu {
  font-family: $main_font;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  color: $white;
}

html,
body {
  height: 100%;
  font-family: $main_font;
}
input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

*{
  outline:0px!important;
  font-family: $main_font;
  box-sizing: border-box;
}
*:focus,
*:active{
  outline: 0px!important;
  text-shadow: none;
  box-shadow: none!important;
}
a:hover{
  text-decoration: none;
}
a:focus{
  outline: 0px !important;
}
a:focus,
a:hover,
a:active{
  text-decoration: none;
}
#content{
  min-height: auto;
  //padding-bottom: 36px;
}

@mixin t-y{
  top: 50%;
  transform: translateY(-50%);
}
@mixin t-x{
  left: 50%;
  transform: translateX(-50%);
}
@mixin t-xy{
  top: 50%;
  left: 50%;
  transform: translate3D(-50%, -50%, 0);
}

@mixin text-btn {
  font-family: $main_font;
  font-size: 14px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 2px;
  text-align: center;
  color: $white;
  text-transform: uppercase;
}
.main-content {
  flex: 1 0 auto;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  margin-bottom: 90px;
}
.btn-default{
  min-width: 260px;
  padding: 0 47px;
  height: 60px;
  border-radius: 30px;
  background: $lipstick;
  border: 0;
  @include text-btn;
  position: relative;
  overflow: hidden;
  span{
    position: relative;
    z-index: 2;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.8);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate(13%,190%) rotate(-30deg);
    transform: translate(13%,190%) rotate(-30deg);
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate(-13%,-190%) rotate(-30deg);
    transform: translate(-13%,-190%) rotate(-30deg);
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }

  &:focus,
  &:active,
  &:hover{
    background-color:  $lipstick;
    color: $white;
    &:before,
    &:after{
      -webkit-transform: translate(0,0);
      transform: translate(0,0);
    }
  }
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
}
header{
  padding: 20px 0;
}
.logo{
  width: 155px;
  height: 50px;
  object-fit: contain;
}
.circle-block{
  width: 44px;
  height: 44px;
  border: solid 1px #e6e6e6;
  border-radius: 50%;
  margin: 0 7.5px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 11;
  &:last-child{
    margin-right: 0;
  }
  a{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    &:focus,
    &:active,
    &:hover{
      color: $black!important;
    }
    .count_item{
      position: absolute;
      top: 0;
      right: 0;
      background-color: $lipstick;
      width: 15px;
      height: 15px;
      font-size: 10px;
      color: $white;
      border-radius: 50%;
      text-align: center;
      line-height: 17px;
    }
  }
}
.search_container {
  position: relative;
  .search_block_content {
    position: absolute;
    top: 5px;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0;
    z-index: -1;
    input {
      padding: 0px 50px 0px 10px;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: solid 1px #000000;
      background-color: #ffffff;
      min-width: 230px;
      font-size: 14px;
      height: 30px;
      min-height: 30px;
      line-height: 30px;
      &:focus {
        box-shadow: none;
      }
    }
  }
  &.open{
    .search_block_content {
      opacity: 1;
      z-index: 10;
    }
    .circle-block{
      border: 0;
    }
  }
}
#search {
  .search_block_content {
    position: absolute;
    top: 0;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0;
    z-index: -1;
    //transform: translateX(-100%);
    //transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
    input {
      padding: 0 55px 0 22px;
      min-width: 100%;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: left;
      color: #b3b3b3;
      height: 44px;
      border-radius: 22px;
      background-color: $white;
      border: solid 1px #e6e6e6;
      line-height: 44px;
      box-shadow: none;
    }
  }
  .icon-search{
    font-size: 25px;
  }
  .button-ok{
    display: none;
  }
}
#search.open .search_block_content {
  opacity: 1;
  z-index: 10;
  //transform: translateX(0);
}
#button-search{
  margin-bottom: 40px;
}
.flex-row{
  display: flex;
  align-items: center;
  flex-direction: row;
  &.text-right{
    justify-content: flex-end;
  }
  &__pos{
    justify-content: space-between;
  }
}
.navbar{
  min-height: auto;
  margin-bottom: 0;
  border: 0;
  .navbar-nav{
    li{
      margin: 0 15px;
      a{
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 2px;
        color: $black;
        text-transform: uppercase;
        padding: 0;
        transition: .5s;
        &:hover{
          background-color: transparent;
          color: $warm-grey;
          cursor: pointer;
        }
      }
      &.pinck-color{
        a{
          color: $lipstick;
        }
      }
    }
  }
}
.slide_wrapper_big{
  margin: 0px !important;
  .item {
    position: relative;
  }
  .wrapper-banner-info{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
    h2{
      font-size: 40px;
      font-weight: 800;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 5px;
      text-align: center;
      color: $white;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
    p{
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: center;
      color: $white;
      padding: 0 100px;
      margin-bottom: 60px;
    }
  }
}

.btn-slider{
  max-width: 260px;
  padding: 0 25px;
  display: block;
  height: 60px;
  border-radius: 30px;
  background-color: $white;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 60px;
  letter-spacing: 2px;
  text-align: center;
  color: $black;
  text-transform: uppercase;
  margin: 0 auto;
  &:hover{
    background-color: transparent;
    color: $white;
    border: 1px solid $white;
  }
}
.slider{
  margin-bottom: 0!important;
}
.slick-dots{
  position: absolute;
  bottom: 30px;
  li{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 2px;
    margin: 0 10px;
    padding: 0;
    cursor: pointer;
    button{
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 2px;
      padding: 0px;
      cursor: pointer;
      border: 0;
      outline: none;
      background-color: $pinkish-grey;
      opacity: 1;
      &:before {
        content: '';
        display: none;
      }
    }
    &.slick-active{
      button{
        opacity: 1;
        background-color: $black;
      }
    }
  }
}

.html-module{
  background-color: $pale-grey-three;
  padding: 90px 0;
  &__notborder{
    padding: 0;
  }
  .col-md-4{
    &:nth-child(2){
      .item-advantages{
        border-left: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
      }
    }
  }
  .item-advantages{
    padding: 30px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $warm-grey;
    i{
      margin-bottom: 12px;
      font-size: 44px;
    }
    p{
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: 2px;
      text-align: center;
      margin-bottom: 0;
      padding: 0 60px;
    }
  }
}

h3{
  font-family: 'sironaregular';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 5px;
  text-align: center;
  color: $black;
  text-transform: uppercase;
  margin-bottom: 60px;
  position: relative;
  &:before{
    content: '';
    width: 10px;
    height: 6px;
    background-image: url("../image/red.svg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
  }
}
.module-product{
  padding: 69px 0 66px;
  //margin-bottom: 66px;
  border-bottom: solid 1px #e6e6e6;
  &__nonborder{
    border-bottom: 0;
    margin-bottom: 0;
  }
  .slider{
    .slick-list{
      padding-bottom: 60px;
      //margin: 0 -15px;
    }
  }
  .slick-dots{
    bottom: 0;
  }
}

.product-thumb{
  margin-bottom: 45px;
  .image{
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    .button-group{
      display: flex;
      align-items: center;
      max-height: 0;
      position: absolute;
      bottom: -100%;
      width: 100%;
      -webkit-transition: .8s ease-in-out;
      -moz-transition: .8s ease-in-out;
      -o-transition: .8s ease-in-out;
      transition: .8s ease-in-out;
      button{
        height: 52px;
        background-color: $pale-grey;
        flex: 1;
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 2px;
        color: $warm-grey;
        text-transform: uppercase;
        border: 0;
        transition: .5s;
        i{
          transition: .5s;
          color: $pinkish-grey;
          font-size: 20px;
        }
        &:first-child{
          flex: 3;
        }
        &.mini-btn{
          border-left: 1px solid #e6e6e6;
          border-right: 1px solid #e6e6e6;
          &.active{
            i{
              color: $lipstick;
            }
            color: $lipstick;
          }
        }
        &:hover{
          color: $black;
          i{
            color: $black;
          }
        }
      }
    }
    &:hover{
      .button-group{
        max-height: 100%;
        bottom: 0;
        -webkit-transition: .6s ease-in-out;
        -moz-transition: .6s ease-in-out;
        -o-transition: .6s ease-in-out;
        transition: .6s ease-in-out;
      }
    }
    img{
      width: 100%;
    }
  }
  .caption{
    a{
      display: block;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2px;
      text-align: center;
      color: $black;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    .price{
      font-size: 20px;
      font-weight: 800;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color: $black;
      text-transform: uppercase;
      .price-old{
        margin-left: 15px;
        color: $warm-grey;
        font-size: 16px;
        text-decoration: line-through;
      }
    }
  }
}
.about-container{
  p{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: $warm-grey;
    margin-bottom: 60px;
    padding: 0 100px;
  }
  a{
    display: block;
    max-width: 260px;
    margin: 0 auto;
  }
}
.footer-title{
  font-family: $main_font;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 2px;
  color: $black;
  text-align: left;
  margin-bottom: 30px;
  &:before{
    content: '';
    display: none;
  }
}
footer{
  padding: 60px 0;
  border-top: solid 1px #e6e6e6;
  .list-unstyled{
    li{
      margin-bottom: 15px;
      a{
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: $warm-grey;
        transition: .5s;
        &:hover{
          color: $black;
        }
      }
    }
  }
  .social{
    padding: 0;
    margin: 28px 0 0 0;
    li{
      float: left;
      list-style: none;
      margin-right: 15px;
      &:last-child{
        margin-right: 0;
      }
      a{
        color: $warm-grey;
        transition: .5s;
        font-size: 24px;
        &:hover{
          color: $black;
        }
      }
    }
  }
}
.newsletter-form{
  p{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: $warm-grey;
    margin-bottom: 30px;
  }
  input{
    width: 100%;
    height: 44px;
    border-radius: 0;
    background-color: $white;
    border: solid 1px #e6e6e6;
    box-shadow: none;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $warm-grey;
    padding-right: 54px;
    &:focus{
      border: solid 1px $black;
    }
  }
}
#lt_newsletter_form{
  .form-group{
    position: relative;
  }
  .btn-newsletter{
    display: block;
    width: 40px;
    height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 10px;
    color: $black;
    border: 0;
    background: transparent;
    line-height: 44px;
  }
}
.copiright{
  background-color: $pale-grey;
  padding: 17px 0;
  .copiright-text{
    display: flex;
    align-items: center;
    justify-content: left;
    p{
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: normal;
      color: $warm-grey;
      padding-right: 15px;
      margin-bottom: 0;
      border-right: 1px solid $warm-grey;
    }
    a{
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: normal;
      color: $warm-grey;
      padding-left: 15px;
      &:hover{
        color: $black;
      }
    }
  }
}
.callback{
  width: 45px;
  height: 45px;
  background-color: $white;
  border-radius: 50%;
  border: 0;
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 99;
  cursor: pointer;
  color: $lipstick;
  padding: 0;
  &:focus{
    background-color: $lipstick;
    color: #fff;
    border-color: $lipstick;
    background-image: none;
  }
  &:hover{
    background-color: $lipstick;
    color: #fff;
  }
  .btn-callphone{
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
    z-index: 99;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:focus,
    &:active,
    &:hover{
      color: #fff;
    }
  }
  .callback_block {
    height: 45px;
    position: absolute;
    width: 45px;
    .callback_a {
      -webkit-animation: callback 3s linear 0s infinite;
      -moz-animation: callback 3s linear 0s infinite;
      animation: callback 3s linear 0s infinite;
      background-color: transparent;
      border: 2px solid $lipstick;
      border-radius: 100% !important;
      bottom: 18px;
      box-sizing: border-box;
      height: 100px;
      opacity: 0.01;
      position: absolute;
      right: -28px;
      width: 100px;
      z-index: 1;
    }
    .callback_b {
      -webkit-animation: callback 1.5s linear 0s infinite;
      -moz-animation: callback 1.5s linear 0s infinite;
      animation: callback 1.5s linear 0s infinite;
      background-color: transparent;
      border: 2px solid $lipstick;
      border-radius: 100% !important;
      bottom: 18px;
      box-sizing: border-box;
      height: 100px;
      opacity: 0.01;
      position: absolute;
      right: -28px;
      width: 100px;
      z-index: 1;
    }
  }
}
.callback:hover {
  animation: 1.5s linear 0s normal none infinite running callback_anim;
}
.products_row-btn{
  position: absolute;
  top: calc(50% - 90px);

  transform: translate(0, -50%);
  display: block;
  width: 60px;
  height: 60px;
  background-color: $white;
  border-radius: 50%;
  color: $black;
  border: 0;
  text-align: center;
  line-height: 60px;
  padding: 0;
  &.products_row-prev_btn{
    left: -15px;
    z-index: 1;
    i{
      padding-left: 9px;
    }
  }
  &.products_row-next_btn{
    right: -15px;
    z-index: 1;
    i{
      padding-right: 9px;
    }
  }
}

.multi-collapse{
  padding: 30px 0;
}
.menu-container_colapss{
  border-top: 1px solid #e6e6e6;
}
.child{
  &__container{
    position: relative;
    a{
      position: relative;
      z-index: 3;
      display: block;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
    &__link{
      background-color: $pale-grey;
      padding: 35px 0;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2px;
      text-align: center;
      color: $black;
    }
  }
  &__name{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    z-index: 3;
    color: $white;
    text-transform: uppercase;
  }
}
.breadcrumb{
  margin: 0;
  background-color: transparent;
  padding: 0;
  &__container{
    padding: 15px 0;
    background-color: $pale-grey-three;
    margin-bottom: 90px;
  }
  &>li{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: $black;
    &+li{
      &:before{
        padding: 0;
        color: #ccc;
        content: "•";
        font-size: 30px;
        line-height: 12px;
        display: block;
        width: 10px;
        margin: 0 5px;
        float: left;
      }
    }
    a{
      color: $warm-grey;
    }
  }
}
.category-page_items{
  position: relative;
  text-align: right;
  &:before{
    content: '';
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), $pale-grey-two);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
  .category-info{
    position: absolute;
    top: 60px;
    left: 60px;
    text-align: left;
    width: 45%;
    .name{
      font-family: 'sironaregular';
      font-size: 30px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 5px;
      color: $black;
      margin-bottom: 30px;
      text-transform: uppercase;
    }
    .category-description-mini{
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: $warm-grey;
      padding-bottom: 98px;
    }
    a{
      width: 240px;
      height: 60px;
      line-height: 60px;
      border-radius: 30px;
      background-color: $white;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
      color: $black;
      display: block;
      &:hover{
        background-color: $lipstick;
        color: $white;
      }
    }
  }
  img{
    max-width: 100%;
  }
}
.container-for-marg{
  margin-bottom: 30px;
  &:last-child{
    margin-bottom: 0;
  }
}
h1, .title_h1{
  font-family: 'sironaregular';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 5px;
  text-align: center;
  color: $black;
  text-transform: uppercase;
  margin-bottom: 60px;
  position: relative;
  &:before{
    content: '';
    width: 10px;
    height: 6px;
    background-image: url("../image/red.svg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
  }
}
.sort-select{
  margin-bottom: 30px;
  .text-sort{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #1a1a1a;
    margin-right: 15px;
    margin-bottom: 0;
  }
  .wrapp_links{
    .sort_item{
      display: block;
      margin-right: 16px;
      a{
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: $warm-grey;
      }
      &.is_active{
        a{
          font-size: 16px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          color: #1a1a1a;
        }
      }
    }
  }
}
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  background-color: $pale-grey;
  padding: 24px;
  position: relative;
  &>li{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: $black!important;
    line-height: 30px;
    padding-left: 0;
    &:before{
      display: none;
    }
    a{
      border: 0;
      padding: 0;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      color: $warm-grey;
      display: block;
      width: 100%;
      height: 100%;
      line-height: 30px;
      text-align: center;
      background-color: transparent;
      &:hover{
        color: $black!important;
        border-radius: 0;
        background-color: transparent;
      }
    }
    &.prev{
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      //width: 100%;
      //height: 100%;
      z-index: 2;
      width: auto;
      padding-left: 15px;
      color: $warm-grey;
      text-transform: uppercase;
      background-color: transparent;
      letter-spacing: 2px;
      a{
        letter-spacing: 2px;
        color: $warm-grey;
        line-height: 30px;
      }
      span{
        font-size: 10px;
        padding-right: 10px;
        position: relative;
        top: -2px;
      }
    }
    &.last{
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      //width: 100%;
      //height: 100%;
      z-index: 2;
      width: auto;
      padding-right: 15px;
      color: $warm-grey;
      text-transform: uppercase;
      background-color: transparent;
      letter-spacing: 2px;
      span{
        font-size: 10px;
        padding-left: 10px;
        position: relative;
        top: -2px;
      }
      a{
        letter-spacing: 2px;
        color: $warm-grey;
        line-height: 30px;
      }
    }
    &.active{
      span{
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 0;
        background-color: transparent;
        border:0;
        color: $black;
        padding: 0;
        line-height: 30px;
        text-align: center;
        &:hover{
          border-radius: 0;
          background-color: transparent;
          color: $black;
        }
      }
    }
  }
}

.thumbnails-mini {
  .item {
    img {
      width: 100%;
    }
    //&.slick-active{
    //  margin-bottom: 15px;
    //}
  }
}
.slick-vertical .slick-slide{
  margin-bottom: 15px;
}
.thumbnails-pop {
  img {
    width: 100%;
  }
}
.product-info-container{
  h1{
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 5px;
    color: $black;
    text-align: left;
    margin-bottom: 26px;
    &:before{
      display: none;
    }
  }
  .rating{
    margin-bottom: 60px;
    .fa-stack{
      .fa-star{
        font-size: 20px;
        color: $pinkish-grey;
      }
    }
  }
  .minidescription{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $warm-grey;
    margin-bottom: 76px;
  }
  .price-list{
    .price{
      font-size: 24px;
      font-weight: 800;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: $black;
    }
    .price-old{
      margin-left: 15px;
      color: $warm-grey;
      font-size: 16px;
      text-decoration: line-through;
    }
  }
}
.container-price{
  margin-bottom: 30px;
}
.btn-by{
  padding: 0 60px;
  background-color: $pale-grey;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 2px;
  text-align: center;
  color: $warm-grey;
  text-transform: uppercase;
  margin-right: 15px;
  height: 60px;
  line-height: 60px;
  border-radius: 0;
  min-width: 260px;
  &:focus,
  &:active,
  &:hover{
    background-color: $lipstick;
    color: $white;
  }
  &__pink{
    background-color: $lipstick;
    color: $white;
    margin-right: 0;
    i{
      margin-right: 15px;
      font-size: 22px;
    }
    &:focus,
    &:active,
    &:hover{
      background-color: $black;
      color: $white;
    }
  }
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover{
  background-color: $lipstick;
  color: $white;
}

.wrapper-margin{
  .btn-by{
    margin-right: 0;
    border-radius: 0;
    margin-top: 60px;
    min-width: 260px;
  }
  .row{
    margin-right: -7.5px;
    margin-bottom: -7.5px;
  }
}
.btn-link{
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 2px;
  color: $warm-grey;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  &:focus,
  &:active,
  &:hover{
    color: $lipstick;
    text-decoration: none;
  }
}
.share_wrapp{
  overflow: hidden;
  position: relative;
  height: 38px;
  &.active{
    .icon_wrapp{
      transform: translateX(0);
    }
  }
}
.icon_wrapp{
  border-radius: 17.5px;
  background-color: $pale-grey;
  padding: 5px 15px;
  position: absolute;
  top: 0;
  width: 100%;
  transform: translateX(-102%);
  transition: transform 0.8s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .share_item{
    margin-right: 15px;
    &:last-child{
      margin-right: 0;
    }
    a{
      font-size: 22px;
      line-height: 24px;
      color: $warm-grey;
      i{
        line-height: 24px;
      }
    }
  }
}

.text-share{
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 2px;
  color: $warm-grey;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  padding: 0px 3px;
  p{
    margin-bottom: 0;
    margin-right: 15px;
  }
  &:hover{
    color: $lipstick;
  }
}
.rewiew_wrapp{
  padding-bottom: 60px;
}
.nav-tabs {
  border-bottom: solid 1px #e6e6e6;
  margin-bottom: 30px;
  & > li{
    float: left;
    padding-right: 30px;
    padding-left: 0;
    &:before{
      display: none;
    }
    //margin-bottom: 0;
    & > a{
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2px;
      color: $warm-grey;
      transition: .3s;
      border: 0;
      padding: 0 0 30px;
      text-transform: uppercase;
      &:active,
      &:focus,
      &:hover{
        background-color: transparent;
        border-bottom: 1px solid $black;
        color: $black;
      }
    }
    &.active{
      & > a{
        border: 0;
        border-bottom: 1px solid $black;
        color: $black;
        background-color: transparent;
        &:active,
        &:focus,
        &:hover{
          border: 0;
          border-bottom: 1px solid $black;
          color: $black;
          background-color: transparent;
        }
      }
    }
  }
}
.tab-pane{
  p{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $warm-grey;
    margin-bottom: 30px;
    b{
      color: $black;
      font-weight: 600;
    }
  }
}
.white-style-form{
  border-radius: 0px;
  overflow: hidden;
  .c-reviewStars-input{
    width: 100%;
  }
  h2{
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: $black;
    margin-top: 15px;
    margin-bottom: 60px;
    text-transform: uppercase;
  }
  .btn-default{
    &:hover{
      background-color: $black;
      color: $white;
    }
  }
}
input.form-control{
  height: 60px;
  border: solid 1px #e6e6e6;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: $warm-grey;
  padding: 6px 20px;
  &:focus,
  &:hover,
  &:active{
    border: solid 1px $black;
  }
}
textarea.form-control{
  padding: 23px 20px;
  height: 160px;
  border: solid 1px #e6e6e6;
  resize: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: $warm-grey;
  &:focus,
  &:hover,
  &:active{
    border: solid 1px $black;
  }
}
.form-horizontal .form-group{
  margin-right: -7.5px;
  margin-left: -7.5px;
}
.privacy_policy{
  text-align: center;
  margin-bottom: 60px;
  a{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: $warm-grey;
  }
}
.form-checkbox input[type="radio"],
.form-checkbox input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}
.form-checkbox input[type="radio"]:checked + .form-checkbox__marker,
.form-checkbox input[type="checkbox"]:checked + .form-checkbox__marker {
  border-color: #ebecf0;
}
.form-checkbox input[type="radio"]:checked ~ .form-checkbox__label,
.form-checkbox input[type="checkbox"]:checked ~ .form-checkbox__label {
  //font-weight: 600;
  color:  $warm-grey;
}
.form-checkbox input[type="radio"]:checked ~ .form-checkbox__label .mfilter-counter,
.form-checkbox input[type="checkbox"]:checked ~ .form-checkbox__label .mfilter-col-count{
  color:  $warm-grey;
}
.form-checkbox input[type="radio"]:checked + .form-checkbox__marker::after,
.form-checkbox input[type="checkbox"]:checked + .form-checkbox__marker::after {
  opacity: 1;
}
.iScrollIndicator{
  background: rgb(255, 127, 80)!important;
}
.form-checkbox__marker {
  width: 20px;
  height: 20px;
  //padding: 3px;
  border-radius: 0;
  background-color: #fff;
  border: solid 1px #e6e6e6;
  position: relative;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: background-color linear 0.3s;
  transition: background-color linear 0.3s;
  vertical-align: middle;
  float: left;
}
.form-checkbox__marker:after {
  position: absolute;
  content: '';
  left: 15%;
  top: 18%;
  height: 40%;
  width: 60%;
  border-bottom: 2px solid $black;
  border-left: 2px solid $black;
  -webkit-transform: rotate(-45deg);
  opacity: 0;
}
.form-checkbox__label span,
.form-checkbox__label{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: $warm-grey;
}

.c-reviewStars-input {
  width: 350px;
  height: 60px;
  background: #fff;
  padding: 15px;
  border-radius: 0;
  border: solid 1px #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .c-rating{
    float: left;
    color: $warm-grey;
    margin-bottom: 0;
    font-size: 14px;
  }
  .reviewStars-input {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    .c-rating {
      float: left;
      color: $warm-grey;
    }
    input {
      display: none;
      margin-right: 10px;
      &:checked ~ label,
      &:checked + label {
        .icon-mark-as-favorite-star {
          &:before {
            color: $black;
          }
        }
      }
      &:hover{
        & + label {
          .icon-mark-as-favorite-star {
            &:before {
              color: $black;

            }
          }
        }
        & ~ label {
          .icon-mark-as-favorite-star {
            &:before {
              color: $black;

            }
          }
        }
      }
    }
    label {
      position: relative;
      font-size: 18px;
      color: $warm-grey;
      padding: 0;
      cursor: pointer;
      margin: 0 2.5px;
      i{
        color: $warm-grey;
      }
    }
  }
}
.review_item{
  border-radius:0;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
  padding: 30px;
  margin-bottom: 15px;
  .head{
    justify-content: space-between;
    margin-bottom: 30px;
    .name{
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: normal;
      color: #1a1a1a;
      margin-right: 30px;
    }
    .name-prod{
      margin-right: 30px;
      a{
        font-size: 16px;
        line-height: 1;
        color: #ff7f50;
        font-weight: 600;
      }
    }
    .testimonial-time{
      i{
        margin-right: 5PX;
      }
      font-size: 16px;
      color: #9fa4b4;
    }
    .rating{
      i{
        font-size: 18px;
      }
    }
  }
  .text{
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #1a1a1a;
    font-style: italic;
    p{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
.fa-stack{
  width: 18px;
  height: 18px;
  margin: 0 5px;
  line-height: initial;
}
.rating{
  display: flex;
  align-items: center;
  a{
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: $warm-grey;
    span{
      color: $black;
    }
  }
  .fa{
    font-size: 18px;
    color: $warm-grey;
    &.active{
      color: $black;
      i{
        color: $black;
      }
    }
  }
  .rating-label{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: $warm-grey;
    padding-top: 2px;
    padding-left: 15px;
    .black-label{
      color: $black;
    }
  }
}
.container-prod_first{
  margin-bottom: 90px;
}
.product-page{
  .container-prod_first{
    margin-bottom: 0;
  }
  .breadcrumb{
    &__container{
      margin-bottom: 60px;
    }
  }
}
.container-prod_second{
  margin-top: 60px;
}
.wrapper-related{
  border-top: 1px solid #e6e6e6;
  padding: 90px 0;
  margin-top: 30px;
  h3{
    font-family: $main_font;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: $black;
    text-transform: uppercase;
    &:before{
      display: none;
    }
  }
  .slick-dots{
    bottom: 0;
  }
}
.contact-info_big{
  padding: 60px 60px;
  background-color: $pale-grey-two;
  text-align: center;
  margin-bottom: 30px;
  p{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: $warm-grey;
    margin-bottom: 15px;
  }
  a{
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    text-align: center;
    color: $black;
    letter-spacing: 2px;
    span{
      display: inline-block;
      padding-right: 15px;
    }
    &:last-child{
      padding-left: 20px;

    }
  }
}
.block-information-contact{
  margin-bottom: 60px;
}
.c-center{
  margin-top: 60px;
  .btn-default{
    margin: 0 auto;
    display: block;
  }
}
.newsletter_form-input{
  input.form-control{
    height: 44px;
  }
}
.c-form-style{
  margin: 0 -7.5px;
}
.erorrs-wrapper{
  background: url('/catalog/view/theme/default/image/slider.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 65vh;
  position: relative;
  .container{
    position: relative;
    height: 100%;
  }
  .erorrs-text{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%;
    p{
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: center;
      color: $white;
      margin-bottom: 84px;
    }
    img{
      margin-bottom: 15px;
    }
  }
}
.error-not_found{
  .main-content{
    margin-bottom: 0;
    min-height: auto;
  }
  footer{
    margin-top: 0px;
  }
}
.account_left_bar{
  padding: 60px 0;
  background-color: $pale-grey-two;
  li{
    a{
      text-align: center;
    }
  }
}
.item-order{
  margin-bottom: 30px;
  p{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: $black;
  }
  .order-table{
    border: solid 1px #e6e6e6;
    .header-table{
      background-color: $pale-grey-two;
      justify-content: space-between;
      div{
        padding: 15px;
        border-right: 1px solid #e6e6e6;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: $warm-grey;
        flex: 1;
        &:first-child{
          flex: 2;
        }
        &:last-child{
          border: 0;
        }
      }
    }
    .content-table{
      .flex-table{
        display: flex;
        flex-direction: column;
        flex: 4.7;
      }
      .table-row{
        div{
          flex: 1;
          border-right: 1px solid #e6e6e6;
          padding: 26px 15px;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: 2px;
          text-align: center;
          color: $black;
          border-bottom: 1px solid #e6e6e6;
          text-transform: uppercase;
          max-height: 67px;
          &:first-child{
            flex: 2;
          }
        }
        .price-table{
          font-size: 16px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          color: $black;
        }
        &.sum-row{
          div{
            border-bottom: 0;
            &:first-child{
              flex: 3;
              border-right: 0;
              text-align: left;
              font-size: 16px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1;
              letter-spacing: normal;
              color: $warm-grey;
              text-transform: none;
            }
            &:last-child{
              font-size: 16px;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              line-height: 1;
              letter-spacing: normal;
              text-align: right;
              color: $black;
            }
          }
        }
        .qty_block{
          padding: 13px 15px;
          max-height: initial;
          div{
            padding: 0;
            max-height: initial;
            border: 0;
          }
        }
        .wrapp_inputs{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100px;
          height: 40px;
          background-color: $white;
          border: solid 1px #e6e6e6!important;
          margin: 0 auto;
          .button{
            flex: 1;
            font-size: 10px;
            line-height: 40px;
            i{
              line-height: 40px;
            }
          }
          input{
            flex: 2;
            border: 0;
            box-shadow: none;
            text-align: center;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            color: $black;
            padding: 0;
          }
        }
      }

      .payment-table{
        width: 161px;
        flex: 1;
        padding: 15px;
        .payment-info{
          text-align: center;
          img{
            margin-bottom: 15px;
          }
          p{
            font-size: 14px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: 2px;
            text-align: center;
            color: $warm-grey;
            text-transform: uppercase;
          }
          .btn-by__pink{
            border-radius: 0;
            height: 50px;
            line-height: 50px;
            margin: 0;
            width: 100%;
            padding: 0 15px;
            min-width: auto;
          }
        }
      }
    }
  }
}
.edit_firstname{
  width: 100%!important;
}
.common-home{
  .main-content{
    margin-bottom: 0;
  }
}
.alert-success{
  position: absolute;
  background-color: $white;
  border: solid 1px #e6e6e6;
  padding: 30px;
  top: 50%;
  transform: translate(0, -50%);
  display: block;
  margin: 0 auto;
  width: 500px;
  max-width: 100%;
  z-index: 9;
  box-shadow: none;
  left: 0;
  right: 0;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #999999;
  .images-alert{
    margin-bottom: 20px;
    img{
      display: block;
      margin: 0 auto;
    }
  }
  .close{
    position: absolute;
    top: 5px;
    right: 15px;
    opacity: 1!important;
    color: $black;
    width: 25px;
    height: 25px;
    &:before{
      content: '\e919';
      font-family: icomoon;
      position: absolute;
      left: 50%;
      top: 50%;
      font-size: 15px;
    }
  }
}
.simplecheckout-left-column{
  border: solid 1px #e6e6e6;
  border-radius: 0px;
  background-color: #fff;
  padding: 30px;
  .block-title{
    //padding-bottom: 30px;
    border-bottom: 0;
    margin-bottom: 30px;
    position: relative;
    background-color: $pale-grey-two;
    margin-top: -30px;
    padding: 30px;
    &:before{
      content: '';
      position: absolute;
      left: -30px;
      bottom: -1px;
      width: 35px;
      height: 100%;
      background-color: $pale-grey-two;
    }
    &:after{
      content: '';
      position: absolute;
      right: -30px;
      bottom: -1px;
      width: 35px;
      height: 100%;
      background-color: $pale-grey-two;
    }
  }
  h2{
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: $warm-grey;
    text-transform: uppercase;
  }
  .panel-heading{
    padding: 0;
    margin-bottom: 30px;
  }
}
.checkout-heading{
  border: 0;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 2px;
  text-align: center;
  color: #1a1a1a;
  text-transform: uppercase;
}
.simplecheckout-block-content{
  .select2-container--default .select2-selection--single{
    background-color: #fff;
  }
  .select2-container .select2-selection--single{
    height: 60px;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 60px;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 60px;
    line-height: 60px;
  }
}
//.checkout-simplecheckout #buttons {
//  display: none !important;
//}
.simplecheckout-cart-total{
  border: 0!important;
  padding: 27px 0 0!important;
  span{
    &:first-child{
      float: left;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: $warm-grey;
    }
  }
  .simplecheckout-cart-total-value{
    float: right;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: right;
    color: $black;
  }
  .btn-pink_by{
    width: 220px;
    margin: 0 auto;
  }
}
.right-column{
  .checkout_cart_wrapp{
    border: solid 1px #e6e6e6;
    border-radius: 0px;
    background-color: #fff;
    padding: 30px 15px;
  }
  .block-title{
    //padding-bottom: 30px;
    border-bottom: 0;
    margin-bottom: 0;
    position: relative;
    background-color: $pale-grey-two;
    margin-top: -30px;
    padding: 30px 15px;
    &:before{
      content: '';
      position: absolute;
      left: -15px;
      bottom: -1px;
      width: 15px;
      height: 100%;
      background-color: $pale-grey-two;
    }
    &:after{
      content: '';
      position: absolute;
      right: -15px;
      bottom: -1px;
      width: 15px;
      height: 100%;
      background-color: $pale-grey-two;
    }
  }
  h2{
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: $warm-grey;
    text-transform: uppercase;
  }
  .btn-default{
    &.orang{
      &:hover{
        background-color: #404969;
        color: #fff;
      }
    }
  }
}
.simple_cart{
  margin: 0 -15px;
  .simple_item{
    border-bottom: solid 1px #e8e7ed;
    display: flex;
    align-items: flex-start;
    padding: 15px;
    position: relative;
    .quantity,
    .pqt{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .price{
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: $black;
      }
    }
    .quantity{
      border-radius: 0;
      background-color: #fff;
      width: 100px;
      height: 40px;
      border: solid 1px #e6e6e6;
      input{
        background-color: #fff;
        border: 0;
        padding: 0;
        height: 100%;
        flex: 1;
        text-align: center;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: $black;
      }
      button{
        height: 100%;
        background-color: #fff;
        padding: 0;
        border: 0;
        flex: 1;
        font-size: 16px;
      }
      .btn-plus{
        i{
          color: $black;
          transform: rotate(90deg);
        }
      }
      .btn-minus{
        i{
          transform: rotate(90deg);
        }
      }
    }
    .wrapp_cart_right{
      width: 100%;
      padding-left: 30px;
      .options{
        margin-bottom: 30px;
      }
      .name{
        margin-bottom: 15px;
        a{
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: 2px;
          color: $black;
          text-transform: uppercase;
        }
      }
    }
    .remove_btn{
      width: 25px;
      height: 25px;
      background-color: #fff;
      border-radius: 0;
      border: 0;
      padding: 0;
      position: absolute;
      top: 15px;
      right: 7px;
      font-size: 10px;
      color: $black;
    }
  }
}
.simple_cart_bottom{
  .simplecheckout-cart-total{
    &:first-child{
      display: none;
    }
  }
}
.btn-simple{
  display: flex;
  align-items: center;
}
.simplecheckout-button-block{
  padding: 0;
}
.plash{
  width: 60px;
  height: 60px;
  background-color: $white;
  position: absolute;
  border-radius: 50%;
  top: 15px;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: $black;
  text-transform: uppercase;
  line-height: 60px;
  left: 15px;
  &.top-sales{
    color: $lipstick!important;
  }
}
@keyframes callback {
  0% {
    opacity: 0.8;
    transform: rotate(0deg) scale(0.46) skew(1deg);
  }
  10% {
    transform: rotate(0deg) scale(0.56) skew(1deg);
  }
  100% {
    opacity: 0.01;
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@-webkit-keyframes callback {
  0% {
    opacity: 0.8;
    transform: rotate(0deg) scale(0.46) skew(1deg);
  }
  10% {
    transform: rotate(0deg) scale(0.56) skew(1deg);
  }
  100% {
    opacity: 0.01;
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@-moz-keyframes callback {
  0% {
    opacity: 0.8;
    transform: rotate(0deg) scale(0.46) skew(1deg);
  }
  10% {
    transform: rotate(0deg) scale(0.56) skew(1deg);
  }
  100% {
    opacity: 0.01;
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@keyframes callback_anim {
  0% {
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes callback_anim {
  0% {
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}