@media screen and (max-width: 1199px){
  .navbar .navbar-nav li{
    margin: 0px 10px;
  }
  .slide_wrapper_big {
    .item{
      padding-bottom: 60px;
    }
    .slick-dots {
      bottom: 15px;
    }
  }
  .category-page_items .category-info{
    width: 55%;
    top: 40px;
    left: 40px;
    .category-description-mini{
      padding-bottom: 50px;
    }
  }
  .container-price{
    flex-wrap: wrap;
    .price-list{
      flex: 1 1 auto;
      width: 100%;
    }
  }
  .btn-by{
    padding: 0 30px;
    min-width: 220px;
  }
  .contact-info_big{
    padding: 40px 20px;
  }

  .account-simpleedit{
    .wrapper-margin .row{
      margin-right: -15px;
      margin-left: -15px;
    }
  }

  .account-password{
    .form-horizontal .form-group{
      margin-right: -15px;
      margin-left: -15px;
    }
  }
}

@media screen and (max-width: 991px){
  .slide_wrapper_big {
    .wrapper-banner-info {
      position: static;
      top: 0px;
      transform: translate(0px);
      padding: 50px 0px;
      h2{
        font-size: 30px;
      }
      p{
        font-size: 17px;
        margin-bottom: 40px;
      }
    }
    .item{
      padding-bottom: 40px;
    }
  }
  .search-wrapp{
    margin-right: 7.5px;
  }
  .main_menu_wrapp{
    display: none;
    position: absolute;
    padding-top: 50px;
    left: 0px;
    top: 100%;
    background-color: #f6f7f8;
    width: 100%;
    z-index: 25;
    min-height: calc(100vh - 90px);
    overflow: auto;
    max-height: 100%;
    .backdrop{
      display: none;
    }
    .navbar-nav{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      li{
        padding: 30px 0px 15px 0px;
        width: 100%;
        text-align: center;
        &:not(:last-child){
          border-bottom: 1px solid #e6e6e6;
        }
        a{
          font-size: 36px;
        }
      }
    }
  }
  header{
    .logo{
      margin: 0 auto;
    }
  }
  .wrapper-menu-collaps{
    position: static;
    left: auto;
    right: auto;
    transform: inherit;
    width: 100%;
    display: block;
    background-color: transparent;
    border: 0px;
    .child__container{
      margin-bottom: 15px;
      a {
        img{
          display: none;
        }
      }
    }
    .child__name{
      color: #999999;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0px;
      text-transform: none;
      position: static;
      top:  auto;
      transform: none;
    }
    .child__container__link{
      padding: 0px;
      a{
        font-weight: 400 !important;
        color: #999999 !important;
        letter-spacing: 0px!important;
        text-transform: none !important;
        position: static;
        top:  auto;
        transform: none;
        font-size: 20px !important;
      }
    }
  }
  .html-module{
    padding: 30px 0px;
    .item-advantages {
      p{
        padding: 0px 15px;
      }
    }
  }

  .product-thumb {
    .image {
      .button-group{
        bottom: 0px;
        max-height: none;
      }
    }
  }
  .products_row-btn{
    top: calc(50% - 100px);
    transform: translate(0, -50%)
  }
  footer {
    .social{
      li{
        a{
          font-size: 20px;
          color: #bebebe;
        }
      }
    }

  }
  .copiright{
    .copiright-text{
      text-align: center;
      justify-content: center;
      margin-bottom: 10px;
    }
    .flex-row{
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  .footer_subscribe{
    display: flex;
    align-items: flex-start;
    margin-top: 25px;
    #newsletter{
      flex: 1 1 auto;
    }
    h3{
      margin: 15px 25px 0px 0px;
    }
    .newsletter-form{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      form{
        width: 100%;
      }
      input.form-control{
        border-radius: 50px;
      }
      p{
        margin: 0px;
      }
    }
  }
  .module-product{
    padding: 45px 0 30px;
  }
  .module-product {
    .slider {
      .slick-list{
        padding-bottom: 20px;
      }
    }
  }
  .authorization_modal-login{
    margin-bottom: 25px;
  }
  .category-page_items .category-info{
    width: calc(100% - 80px);
    .category-description-mini{
      padding-bottom: 0px;
    }
  }
  .slider-image-big-curier{
    margin-bottom: 25px;
  }
  .product-info-container {
    .rating{
      margin-bottom: 20px;
    }
    .minidescription{
      margin-bottom: 20px;
    }
    .btn-link{
      padding: 0px;
    }
  }
  .rewiew_wrapp{
    padding-bottom: 20px;
  }
  .white-style-form h2{
    margin-bottom: 30px;
  }
  .contact-info_big{
    .flex-row{
      flex-direction: column;
    }
    a{
      white-space: nowrap;
      &:last-child{
        padding: 0px;
      }
    }
  }
  .how_to_order .order_item{
    padding: 15px 10px;
  }
  .slider-image-big{
    margin-bottom: 30px;
  }
  .container-price{
    justify-content: flex-start;
    .btn-group{
      margin-right: 15px;
    }
  }

  .btn-default:focus:before, .btn-default:focus:after, .btn-default:active:before, .btn-default:active:after, .btn-default:hover:before, .btn-default:hover:after{
    display: none;
  }
  .btn-default:focus:before, .btn-default:focus:after, .btn-default:active:before, .btn-default:active:after, .btn-default:hover:before, .btn-default:hover:after{
    display: none;
  }
}

@media screen and (min-width: 768px){
  .category-page_items .category-info{
    background-image: none !important;
  }
}
@media screen and (max-width: 767px){
  header{
    padding: 10px 0px;
    .flex-row{
      flex-wrap: wrap;
    }
    .logo{
      text-align: right;
      margin: auto;
      float: right;
    }
    .xs-border{
      border-top: 1px solid #e6e6e6;
      padding-top: 10px;
      margin-top: 10px;
    }
    .flex-row.text-right{
      justify-content: space-between;
    }
    .mini-position{
      .flex-row{
        justify-content: space-between;
        width: 100%;
        .search-sm{
          margin: 0px;
        }
      }
      .search-wrapp{
        display: none;
      }
    }
  }
  .main_menu_wrapp{
    padding-top: 25px;
    min-height: calc(100vh - 135px);
    .navbar-nav{
      margin: 0px;
      li{
        padding: 15px 0px 10px 0px;
        a{
          font-size: 24px;
        }
      }
    }
  }
  .wrapper-menu-collaps {
    padding-bottom: 10px;
    .child__name{
      font-size: 17px;
    }
    .child__container__link a{
      font-size: 17px !important;
    }
  }

  .slide_wrapper_big {
    .wrapper-banner-info {
      padding: 50px 0px 30px 0px;
      h2{
        font-size: 20px;
        letter-spacing: 3px;
      }
      p{
        font-size: 14px;
        padding: 0px 20px;
      }
    }
    .btn-slider{
      height: 50px;
      line-height: 50px;
    }
  }
  .controll_contaien{
    width: 1px;
  }

  .html-module .col-md-4 .item-advantages{
    border: 0px !important;
  }
  .html-module__notborder{
    padding: 15px 0px;
    .slick-dotted{
      margin: 0px;
    }
    .slick-dots{
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
    }
    .products_row-btn{
      top: calc(50% - 10px);
      transform: translateY(-50%);
      background-color: transparent;
    }
  }
  .products_row-btn{
    width: 50px;
    height: 50px;
    &.products_row-prev_btn{
      left: -10px;
    }
    &.products_row-next_btn{
      right: -10px;
    }
    i{
      position: relative;
      top: -3px;
      font-size: 12px;
    }
  }

  h3{
    font-size: 18px;
  }

  .product-thumb .image .button-group button{
    letter-spacing: 1px;
  }
  .about-container p{
    padding: 0px 15px;
    font-size: 14px;
    line-height: 18px;
  }
  .btn-default{
    height: 50px;
    line-height: 50px;
    &:after{
      transform: translate(-18%, -190%) rotate(-30deg);
    }
    &:before{
      transform: translate(18%, 190%) rotate(-30deg);
    }
  }

  footer{
    padding: 30px 0px;
    .parent-elements{
      padding-bottom: 1px;
      margin-bottom: 15px;
      &:after{
        content: '';
        position: absolute;
        bottom: 0px;
        height: 1px;
        width: calc(100% - 30px);
        left: 15px;
        background-color: #e6e6e6;
      }
      & > .list-unstyled, .hide_xs, #newsletter{
        display: none;
      }
    }
    .footer-title{
      position: relative;
      padding-right: 25px;
      margin-bottom: 15px;
      width: 100%;
      &.open{
        .fa{
          transform: translateY(-50%) rotate(180deg);
        }
      }
      .fa{
        position: absolute;
        top: 50%;
        font-weight: 600;
        transform: translateY(-50%);
        right: 0px;
        font-size: 18px;
      }
    }
  }
  .footer_subscribe{
    flex-direction: column;
    margin-top: 0px;
    .footer-title{
      flex: 1 1 auto;
      margin-top: 0px;
    }
    &:after{
      display: none;
    }
    .newsletter-form{
      align-items: center;
      text-align: center;
    }
  }
  .copiright {
    .copiright-text{
      flex-direction: column;
      align-items: center;
      margin: 0px;
      p{
        border: 0px;
        padding: 0px;
      }
      a{
        padding: 0px;
        margin: 15px 0px;
      }
    }
  }

  .breadcrumb__container{
    margin-bottom: 40px;
  }
  h1, .title_h1{
    margin-bottom: 30px;
  }

  .category-page_items {
    img{
      display: none;
    }
    .category-info{
      position: static;
      left: 0px;
      top: 0px;
      width: 100%;
      padding: 20px 15px;
      background-position: center;
      background-size: cover;
      .name{
        font-size: 24px;
        margin-bottom: 15px;
      }
      p{
        font-size: 14px;
      }
      a{
        height: 50px;
        line-height: 50px;
      }
    }
    &:before{
      display: none;
    }
  }
  .sort-select{
    flex-direction: column;
    .wrapp_links{
      margin-top: 10px;
    }
  }
  .nav-tabs > li {
    padding-right: 20px;
    & > a{
      font-size: 16px;
      padding-bottom: 15px;
    }
  }
  .review_item{
    padding: 20px;
    .head{
      flex-wrap: wrap;
      .rating{
        width: 100%;
        margin-top: 10px;
      }
    }
  }
  .authorization_modal .modal-content .modal-body{
    padding-left: 10px;
    padding-right: 10px;
  }
  .modal-content .modal-body {
    padding-left: 10px;
    padding-right: 10px;
  }
  .btn-default {
    padding: 0 34px;
  }
  .contact-info_big{
    padding: 20px 10px;
    margin-bottom: 15px;
  }
  .artblock-layout{
    margin-bottom: 30px;
  }
  .how_to_order {
    .order_list{
      flex-wrap: wrap;
    }
    .order_layout{
      width: 100%;
      margin-bottom: 30px;
    }
    .grey_block{
      margin-top: 5px;
    }
  }
  .delivery_payment {
    flex-wrap: wrap;
    .title{
      margin: 0px -15px;
      margin-bottom: 15px;
      padding: 15px;
    }
    .dp_block{
      width: 100%;
      margin-bottom: 20px;
    }
    .payment, .delivery{
      padding: 0px 15px 15px 15px;
    }
  }
  .about_wrapp{
    img{
      margin-bottom: 10px;
    }
  }
  #input-search{
    margin-bottom: 15px;
  }
  .simplecheckout-button-block{
    .simplecheckout-button-right{
      float: none;
      text-align: center;
    }
  }
  #simplecheckout_cart {
    .simple_cart {
      .simple_item {
        .image{
          width: 80px;
          margin-right: 15px;
        }
        .wrapp_cart_right{
          width: calc(100% - 95px);
        }
        .pqt{
          flex-direction: column;
          align-items: flex-start;
          .quantity{
            margin: 10px 0px;
          }
        }
      }
    }
  }
  .simplecheckout-right-column{
    margin-top: 30px;
    .right-column h2{
      font-size: 16px;
    }
  }
  .simplecheckout-left-column{
    padding: 30px 15px;
    .block-title{
      padding: 30px 10px;
      &:before{
        width: 15px;
        left: -15px;
        top: 0px;
      }
      &:after{
        width: 15px;
        right: -15px;
        top: 0px;
      }
    }
    h2{
      font-size: 16px;
    }
  }

  .account_left_bar{
    padding: 30px 0px;
    margin-bottom: 20px;
    li{
      margin-bottom: 15px;
      font-size: 16px;
    }
  }
  .order_wrapp{
    overflow: auto;
  }
  .item-order{
    width: 720px;
  }
  .alert-success{
    left: calc(50% - 15px);
    transform: translate(-50%, -50%);
    margin: 0px 15px;
    width: calc(100% - 30px);
  }
  .account-forgotten{
      .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        .pull-left{
          margin-bottom: 15px;
        }
      }
  }
}
@media screen and (max-width: 479px) {
  .btn_flex{
    flex-direction: column;
    button{
      margin: 0px;
      &:nth-child(2){
        margin-bottom: 15px;
      }
    }
  }
}