@import url("//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,600,700,800");
body.open_main_menu {
  overflow: hidden; }

.f_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }

.f_content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  overflow-x: hidden; }

.f_footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.bnews-list .artblock-thumb {
  width: 100%;
  height: 345px;
  padding: 60px 20px;
  background-color: #f6f7f8;
  text-align: center; }
.bnews-list .wrapp_icon span {
  font-size: 62px;
  color: #c3c3c3; }
.bnews-list .name {
  color: #999999;
  font-family: "Circe";
  font-size: 20px;
  letter-spacing: 2px;
  color: #999999;
  font-weight: 600;
  margin-top: 15px;
  text-transform: uppercase; }
.bnews-list .button {
  max-width: 260px;
  padding: 0 34px;
  display: block;
  height: 60px;
  border-radius: 30px;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 60px;
  letter-spacing: 2px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 60px;
  border: 2px solid #ffffff; }
  .bnews-list .button:hover {
    background-color: #e83c4d;
    color: white;
    border: 2px solid #e83c4d; }

.garantiya_wrapp .text {
  font-size: 16px;
  color: #999999; }
  .garantiya_wrapp .text span {
    color: #000; }
.garantiya_wrapp .bold_text {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
  margin-top: 30px; }
.garantiya_wrapp .circle_block {
  width: 224px;
  height: 224px;
  border-radius: 50%;
  background-color: #f6f7f8;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 65px;
  position: relative; }
  .garantiya_wrapp .circle_block:after {
    content: '\e913';
    font-family: icomoon;
    font-size: 90px;
    position: absolute;
    color: #dfe0e1;
    left: 50%;
    top: calc(50% - 25px);
    transform: translate(-50%, -50%); }
  .garantiya_wrapp .circle_block .circe_logo {
    margin: 0 auto;
    position: relative;
    z-index: 2; }
    .garantiya_wrapp .circle_block .circe_logo img {
      width: 155px; }
  .garantiya_wrapp .circle_block .tel {
    font-family: Circe;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-top: 35px;
    display: block;
    letter-spacing: 2px;
    position: relative;
    z-index: 2; }
    .garantiya_wrapp .circle_block .tel:hover {
      color: #999999; }

.delivery_payment {
  margin: 0 -15px;
  display: flex;
  align-items: flex-start; }
  .delivery_payment .dp_block {
    padding: 0px 15px;
    width: 50%; }
  .delivery_payment .payment, .delivery_payment .delivery {
    padding: 0px 30px 30px 30px;
    border: 1px solid #e6e6e6; }
  .delivery_payment .title {
    font-family: Circe;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    color: #999999;
    text-transform: uppercase;
    margin: 0px -30px;
    padding: 30px;
    margin-bottom: 30px;
    background: #eef0f2; }
  .delivery_payment .text {
    font-family: Circe;
    font-size: 16px;
    color: #999999;
    margin-bottom: 30px; }
  .delivery_payment .bold_text {
    color: black;
    margin: 30px 0px;
    font-weight: 600; }
  .delivery_payment ul {
    list-style: none;
    padding: 0px;
    margin: 0px; }
    .delivery_payment ul li {
      font-family: Circe;
      font-size: 16px;
      color: #999999;
      position: relative;
      padding-left: 20px; }
      .delivery_payment ul li:before {
        content: '';
        background-color: #e83c4d;
        border-radius: 50%;
        width: 5px;
        height: 5px;
        position: absolute;
        left: 2px;
        top: 7px; }
  .delivery_payment .pay_list .pay_item {
    padding: 15px 0px; }
    .delivery_payment .pay_list .pay_item:first-child {
      padding-top: 0px; }
    .delivery_payment .pay_list .pay_item:not(:last-child) {
      border-bottom: 1px solid #e6e6e6; }
    .delivery_payment .pay_list .pay_item .name {
      font-family: Circe;
      font-size: 16px;
      font-weight: 600;
      color: black; }
      .delivery_payment .pay_list .pay_item .name span {
        color: #cfcfcf;
        margin-right: 15px;
        position: relative;
        bottom: -7px;
        width: 40px;
        display: inline-block; }
    .delivery_payment .pay_list .pay_item .text {
      font-family: Circe;
      font-size: 16px;
      color: #999999;
      margin: 0px;
      margin-top: 20px; }

.how_to_order .order_list {
  display: flex;
  align-items: flex-start;
  margin: 0px -15px; }
.how_to_order .order_layout {
  padding: 0px 15px; }
.how_to_order .order_item {
  padding: 30px;
  border: 1px solid #e6e6e6; }
.how_to_order .name {
  height: 24px;
  font-family: Circe;
  font-size: 16px;
  font-weight: 600; }
  .how_to_order .name span {
    width: 40px;
    text-align: center;
    margin-right: 15px;
    font-size: 28px;
    position: relative;
    bottom: -6px;
    color: #cccccc;
    display: inline-block; }
.how_to_order .text {
  margin-top: 30px;
  font-family: Circe;
  font-size: 16px;
  color: #999999; }
  .how_to_order .text a {
    color: black;
    white-space: nowrap; }
    .how_to_order .text a:hover {
      color: #e83c4d; }
.how_to_order .grey_block {
  background-color: #f6f7f8;
  font-family: Circe;
  padding: 30px;
  font-size: 14px;
  text-align: center;
  color: #999999;
  margin-top: 30px; }

.about_wrapp .text {
  font-family: Circe;
  font-size: 16px;
  color: #999999;
  margin-bottom: 30px; }
  .about_wrapp .text span {
    color: black; }

.modal {
  text-align: center;
  padding: 0 !important; }

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; }

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  max-width: calc(100% - 30px); }

.modal-backdrop {
  opacity: 0.3 !important; }

.modal-content {
  box-shadow: none;
  border-radius: 0px;
  border: 0px; }
  .modal-content .close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 5px;
    right: 5px;
    margin: 0px;
    opacity: 1;
    text-shadow: none;
    font-weight: 100; }
    .modal-content .close:hover:after {
      color: #e83c4d; }
    .modal-content .close:after {
      content: '\e919';
      font-family: icomoon;
      position: absolute;
      left: 50%;
      top: 50%;
      font-size: 15px;
      color: black;
      transform: translate(-50%, -50%); }
  .modal-content .modal-title {
    font-family: Circe;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px; }
    .modal-content .modal-title:before {
      display: none; }
  .modal-content .modal-header {
    border: 0px;
    padding: 60px 20px 15px 30px;
    position: relative; }
  .modal-content .modal-body {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 45px;
    padding-bottom: 60px; }

#request_call-modal .btn-send {
  margin-top: 50px; }
#request_call-modal .text-danger {
  font-weight: 400; }

.fl_login {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px; }
  .fl_login a:hover {
    color: #e83c4d; }

.show_pass_ch {
  cursor: pointer; }
  .show_pass_ch input {
    display: none; }
  .show_pass_ch .form-checkbox__label {
    cursor: pointer; }
  .show_pass_ch .form-checkbox__marker {
    cursor: pointer; }

.alert {
  border-radius: 0px; }

.authorization_modal .modal-content .modal-header {
  padding-top: 20px; }
.authorization_modal .modal-content .modal-body {
  padding-top: 10px; }
.authorization_modal .modal-title {
  margin-bottom: 25px; }

.slide_wrapper_big > .item:not(:first-child) {
  display: none; }

footer {
  margin-top: 30px; }

.common-home footer {
  margin-top: 0px; }

#thanks_modal .modal-header {
  padding-top: 20px; }

.cart_button_wrapp {
  margin-top: 50px; }
  .cart_button_wrapp .button {
    padding: 0px 15px;
    min-width: 245px; }

.color_link {
  color: #e83c4d; }

@media screen and (min-width: 992px) {
  .with_child_item {
    position: static !important; }
    .with_child_item:hover .wrapper-menu-collaps {
      display: block; }
    .with_child_item:hover:after {
      content: '';
      position: absolute;
      left: 0px;
      top: 100%;
      width: 100%;
      height: 50px; }
    .with_child_item:hover + .backdrop {
      left: 0px;
      opacity: 0.3; }
    .with_child_item + .backdrop {
      margin: 0px !important;
      position: fixed;
      top: 90px;
      width: 100%;
      height: 100%;
      bottom: 0px;
      background-color: black;
      opacity: 0;
      left: -100%;
      z-index: 249;
      transition: opacity 0.2s ease; } }
header {
  position: relative; }
  header:hover {
    position: relative;
    z-index: 251; }
  header .navbar {
    position: static; }

.wrapper-menu-collaps {
  position: absolute;
  background-color: white;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 250;
  padding: 25px 0px;
  width: 100vw;
  border-top: solid 1px #e6e6e6;
  top: calc(100% + 38px);
  display: none; }

.remove_wishlist {
  display: block;
  height: 52px;
  background-color: #f6f7f8;
  flex: 1;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 2px;
  color: #999999;
  text-transform: uppercase;
  border: 0;
  transition: .5s;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  position: relative; }
  .remove_wishlist i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #cccccc; }
  .remove_wishlist:hover i {
    color: #333333; }

.humburger_wrapp {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #e83c4d;
  position: relative; }
  .humburger_wrapp .humberger_item {
    height: 3px;
    width: 21px;
    position: absolute;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    transition: 0.2s ease all; }
    .humburger_wrapp .humberger_item:after, .humburger_wrapp .humberger_item:before {
      content: '';
      position: absolute;
      left: 0px;
      width: 100%;
      height: 3px;
      border-radius: 3px;
      background-color: white;
      transition: 0.2s ease all; }
    .humburger_wrapp .humberger_item:after {
      bottom: -7px; }
    .humburger_wrapp .humberger_item:before {
      top: -7px; }
  .humburger_wrapp.active .humberger_item {
    background-color: transparent; }
    .humburger_wrapp.active .humberger_item:after, .humburger_wrapp.active .humberger_item:before {
      transform-origin: 50% 50%; }
    .humburger_wrapp.active .humberger_item:after {
      transform: rotate(45deg);
      top: 0px; }
    .humburger_wrapp.active .humberger_item:before {
      transform: rotate(-45deg);
      top: 0px; }

#thanks_modal h2 {
  font-size: 22px; }

/*# sourceMappingURL=sergo.css.map */
