$pale-grey: #f6f7f8;
$pale-grey-three: #eef0f2;
$warm-grey: #999999;
$lipstick: #e83c4d;

@import url("//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,600,700,800");
$main_font : 'Circe';

body{
  &.open_main_menu{
    overflow: hidden;
  }
}

.f_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
.f_content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  overflow-x: hidden;
}
.f_footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.bnews-list{
  .artblock-layout{}
  .artblock-thumb{
    width: 100%;
    height: 345px;
    padding: 60px 20px;
    background-color: $pale-grey;
    text-align: center;
  }
  .wrapp_icon{
    span{
      font-size: 62px;
      color: #c3c3c3;
    }
  }
  .name{
    color: #999999;
    font-family: $main_font;
    font-size: 20px;
    letter-spacing: 2px;
    color: $warm-grey;
    font-weight: 600;
    margin-top: 15px;
    text-transform: uppercase;
  }
  .button{
    max-width: 260px;
    padding: 0 34px;
    display: block;
    height: 60px;
    border-radius: 30px;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 60px;
    letter-spacing: 2px;
    text-align: center;
    color: #333333;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 60px;
    border: 2px solid #ffffff;
    &:hover{
      background-color: $lipstick;
      color: white;
      border: 2px solid $lipstick;
    }
  }
}


.garantiya_wrapp{
  .text{
    font-size: 16px;
    color: #999999;
    span{
      color: #000;
    }
  }
  .bold_text{
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    margin-top: 30px;
  }
  .circle_block{
    width: 224px;
    height: 224px;
    border-radius: 50%;
    background-color: $pale-grey;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 65px;
    position: relative;
    &:after{
      content: '\e913';
      font-family: icomoon;
      font-size: 90px;
      position: absolute;
      color: #dfe0e1;
      left: 50%;
      top: calc(50% - 25px);
      transform: translate(-50%, -50%);
    }
    .circe_logo{
      margin: 0 auto;
      position: relative;
      z-index: 2;
      img{
        width: 155px;
      }
    }
    .tel{
      font-family: Circe;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      margin-top: 35px;
      display: block;
      letter-spacing: 2px;
      position: relative;
      z-index: 2;
      &:hover{
        color: $warm-grey;
      }
    }
  }
}

.delivery_payment{
  margin: 0 -15px;
  display: flex;
  align-items: flex-start;
  .dp_block{
    padding: 0px 15px;
    width: 50%;
  }
  .payment, .delivery{
    padding: 0px 30px 30px 30px;
    border: 1px solid #e6e6e6;
  }
  .delivery{}
  .payment{}
  .title{
    font-family: Circe;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    color: $warm-grey;
    text-transform: uppercase;
    margin: 0px -30px;
    padding: 30px;
    margin-bottom: 30px;
    background: $pale-grey-three;
  }
  .text{
    font-family: Circe;
    font-size: 16px;
    color: $warm-grey;
    margin-bottom: 30px;
  }
  .bold_text{
    color: black;
    margin: 30px 0px;
    font-weight: 600;
  }
  ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    li{
      font-family: Circe;
      font-size: 16px;
      color: $warm-grey;
      position: relative;
      padding-left: 20px;
      &:before{
        content: '';
        background-color: $lipstick;
        border-radius: 50%;
        width: 5px;
        height: 5px;
        position: absolute;
        left: 2px;
        top: 7px;
      }
    }
  }
  .pay_list{
    .pay_item{
      padding: 15px 0px;
      &:first-child{
        padding-top: 0px;
      }
      &:not(:last-child){
        border-bottom: 1px solid #e6e6e6;
      }
      .name{
        font-family: Circe;
        font-size: 16px;
        font-weight: 600;
        color: black;
        span{
          color: #cfcfcf;
          margin-right: 15px;
          position: relative;
          bottom: -7px;
          width: 40px;
          display: inline-block;
        }
      }
      .text{
        font-family: Circe;
        font-size: 16px;
        color: $warm-grey;
        margin: 0px;
        margin-top: 20px;

      }
    }
  }
}

.how_to_order{
  .order_list{
    display: flex;
    align-items: flex-start;
    margin: 0px -15px;
  }
  .order_layout{
    padding: 0px 15px;
  }
  .order_item{
    padding: 30px;
    border: 1px solid #e6e6e6;
  }
  .name{
    height: 24px;
    font-family: Circe;
    font-size: 16px;
    font-weight: 600;
    span{
      width: 40px;
      text-align: center;
      margin-right: 15px;
      font-size: 28px;
      position: relative;
      bottom: -6px;
      color: #cccccc;
      display: inline-block;
    }
  }
  .text{
    margin-top: 30px;
    font-family: Circe;
    font-size: 16px;
    color: $warm-grey;
    a{
      color: black;
      white-space: nowrap;
      &:hover{
        color: $lipstick;
      }
    }
  }
  .grey_block{
    background-color: $pale-grey;
    font-family: Circe;
    padding: 30px;
    font-size: 14px;
    text-align: center;
    color: $warm-grey;
    margin-top: 30px;
  }
}
.about_wrapp{
  .text{
    font-family: Circe;
    font-size: 16px;
    color: $warm-grey;
    margin-bottom: 30px;
    span{
      color: black;
    }
  }
}


//vertival align bootstrap modal
.modal {
  text-align: center;
  padding: 0!important;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  max-width: calc(100% - 30px);
}



.modal-backdrop{
  opacity: 0.3 !important;
}
.modal-content{
  box-shadow: none;
  border-radius: 0px;
  border: 0px;
  .close{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 5px;
    right: 5px;
    margin: 0px;
    opacity: 1;
    text-shadow: none;
    font-weight: 100;
    &:hover{
      &:after{
        color: $lipstick;
      }
    }
    &:after{
      content: '\e919';
      font-family: icomoon;
      position: absolute;
      left: 50%;
      top: 50%;
      font-size: 15px;
      color: black;
      transform: translate(-50%, -50%);
    }
  }
  .modal-title{
    font-family: Circe;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    &:before{
      display: none;
    }
  }
  .modal-header{
    border: 0px;
    padding: 60px 20px 15px 30px;
    position: relative;
  }
  .modal-body{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 45px;
    padding-bottom: 60px;
  }
}

#request_call-modal{
  .btn-send{
    margin-top: 50px;
  }
  .text-danger{
    font-weight: 400;
  }
}

.fl_login{
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
  a{
    &:hover{
      color: $lipstick;
    }
  }
}
.show_pass_ch{
  cursor: pointer;
  input{
    display: none;
    &:checked{
      & + .form-checkbox__marker{
        &:after{
        }
      }
    }
  }
  .form-checkbox{
  }
  .form-checkbox__label{
    cursor: pointer;
  }
  .form-checkbox__marker{
    cursor: pointer;
  }
}

.alert{
  border-radius: 0px;
}

.authorization_modal{
  .modal-content {
    .modal-header{
      padding-top: 20px;
    }
    .modal-body{
      padding-top: 10px;
    }
  }
  .modal-title{
    margin-bottom: 25px;
  }
}


.slide_wrapper_big{
  & > .item:not(:first-child){
    display: none;
  }
}

footer{
  margin-top: 30px;
}
.common-home{
  footer{
    margin-top: 0px;
  }
}

#thanks_modal{
  .modal-header{
    padding-top: 20px;
  }
}

.cart_button_wrapp{
  margin-top: 50px;
  .button{
    padding: 0px 15px;
    min-width: 245px;
  }
}

.color_link{
  color: $lipstick;
}


@media screen and (min-width: 992px){
  .with_child_item{
    position: static !important;
    &:hover{
      .wrapper-menu-collaps {
        display: block;
      }
      &:after{
        content: '';
        position: absolute;
        left: 0px;
        top: 100%;
        width: 100%;
        height: 50px;
      }
      & + .backdrop {
        left: 0px;
        opacity: 0.3;
      }
    }
    & + .backdrop{
      margin: 0px !important;
      position: fixed;
      top: 90px;
      width: 100%;
      height: 100%;
      bottom: 0px;
      background-color: black;
      opacity: 0;
      left: -100%;
      z-index: 249;
      transition: opacity 0.2s ease;
    }
  }
}
header{
  position: relative;
  &:hover{
    position: relative;
    z-index: 251;
  }
  .navbar{
    position: static;
  }
}
.wrapper-menu-collaps{
  position: absolute;
  background-color: white;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 250;
  padding: 25px 0px;
  width: 100vw;
  border-top: solid 1px #e6e6e6;
  top: calc(100% + 38px);
  display: none;
}



.remove_wishlist{
  display: block;
  height: 52px;
  background-color: #f6f7f8;
  flex: 1;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 2px;
  color: #999999;
  text-transform: uppercase;
  border: 0;
  transition: .5s;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  position: relative;
  i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #cccccc;
  }
  &:hover{
    i{
      color: #333333;
    }
  }
}

.humburger_wrapp{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $lipstick;
  position: relative;
  .humberger_item{
    height: 3px;
    width: 21px;
    position: absolute;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    transition: 0.2s ease all;
    &:after, &:before{
      content: '';
      position: absolute;
      left: 0px;
      width: 100%;
      height: 3px;
      border-radius: 3px;
      background-color: white;
      transition: 0.2s ease all;
    }
    &:after{
      bottom: -7px;
    }
    &:before{
      top: -7px;
    }
  }
  &.active{
    .humberger_item{
      background-color: transparent;
      &:after, &:before{
        transform-origin: 50% 50%;
      }
      &:after{
        transform: rotate(45deg);
        top: 0px;
      }
      &:before{
        transform: rotate(-45deg);
        top: 0px;

      }
    }
  }
}

#thanks_modal{
  h2{
    font-size: 22px;
  }
}